@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;900&family=Noto+Serif+KR:wght@100;200;300;400;500;600;700;900&display=swap');
@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: 400;  }

/*  HTML Basic Set */
*, :before, :after {
	margin:0;
	/* padding:0; */
	border:0;
	box-sizing:border-box !important;
}
h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, blockquote, strong, span, form, fieldset, legend, div, body, a {-webkit-print-color-adjust:exact;}
html, body {width:100%; height:100%;}
ul, li {list-style: none;}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
audio[controls], canvas, video {display:inline-block; *display:inline; *zoom:1;}
audio:not([controls]) {display:none; height:0;}
html {-ms-text-size-adjust:none; -webkit-text-size-adjust:none;}
hr {display:none; height:0;}

/* Font Set */
body {font-family:"Noto Sans KR","MalgunGothic","맑은고딕","Arial","sans-serif";font-weight:400}
button {cursor:pointer;font-size:1rem;}

@media (max-width:999px) {
	font-size:16px;
}
@media (max-width:700px) {
	font-size:15px;
}

.hiddenZone, #hiddenZone {display:hidden}
.fontG {font-family:'Noto Sans KR'}
.fontM {font-family:'Noto Serif KR'}
.fontJalnan {font-family:'yg-jalnan'}



.flex {display: flex;flex-wrap: wrap; flex-direction: row; }
.flex-center {justify-content: center;}
.flex-left {justify-content: left;}
.flex-right {justify-content: flex-end;}
.flex-mg	 { margin: 0 2.5px 5px;}
.flex-mg10	 { margin: 10px;}

.flex-mg20	 { margin: 20px;}

.flex-middle {align-items: center;}
.mg-center {margin:0 auto;}
.overflow-hidden {overflow:hidden;}
.pre-line{white-space:pre-line;}
.rows{display:table}

/* 폰트크기 rem */
.fsrem-5{font-size: .5rem;}
.fs1rem{font-size: 1rem;}
.fs1rem-5{font-size: 1.5rem;}
.fs2rem{font-size: 2rem;}
.fs2rem-5{font-size: 2.5rem;}
.fs3rem{font-size: 3rem;}

/* 폰트 색 */
.white{color: #fff;}
.black{color: #000;}
.gray{color: #ccc;}
.cl-html5{color: #F16528}
.cl-css3{color: #2EAADE}
.cl-js{color: #FFD93A}

/* 폰트 정렬 */
.txt-center{text-align: center;}
.txt-right{text-align: right;}
.txt-left{text-align: left;}

/* 폰트 굵기 */
.fw100{font-weight: 100;}
.fw200{font-weight: 200;}
.fw300{font-weight: 300;}
.fw400{font-weight: 400;}
.fw500{font-weight: 500;}
.fw600{font-weight: 600;}
.fw700{font-weight: 700;}
.fw800{font-weight: 800;}
.fw900{font-weight: 900;}

/* 테두리 */
.bd-ccc{border:1px solid #ccc}

/* 배경색 */
.bg-black{background-color: #000;}
.bg-white{background-color: #fff;}

.a_BoardTitle{
  color: #000;
}
.a_BoardTitle:hover{
  color: #000;
  text-decoration:none;
}

.dt_click{
  cursor: pointer;
}
.dt_click:hover{
  background-color: #d9d9d9;
}

/* display flex */
.flex{display:flex;}

/* position */
.por{position: relative;}
.poa{position: absolute;}

/*웹접근성 백그라운드 이미지에 대체 텍스트 사용 CLASS*/
.ir, caption {width:0;height:0;font-size:0;line-height:0;overflow:hidden;position:absolute;left:0;top:0;}

/* 스킵네비게이션 */
#sknavi{position:absolute;z-index:999999999;width:200px;}
#sknavi p a{position:absolute;top:-200px;}
#sknavi p a:focus,
#sknavi p a:active{top:1px;left:0;display:block;width:200px;color:#fff;height:33px;padding:3px 3px 0 3px;margin-left:1px;text-align:center;font-size:100%;font-weight:bold;background:#115aa3;text-decoration:none;}


/* Image Set */
img {max-width:100%; border:0; vertical-align:top; -ms-interpolation-mode:bicubic;}

/* Scroll Display Hidden */
::-webkit-scrollbar{display:none;}

/* Table */
table {border-collapse:collapse;}

/* Link style */
a,a:link, a:visited {text-decoration:none; color:#333;}
a:hover, a:active {
	text-decoration: none;
	 color:#333;
	 font-weight:500;

}



/* Color style */
.color_rd {color:#f90000 !important;}
.color_bl {color:#0065b3 !important;}
.fff      {color:#fff !important;}
.black		{color:#000;}

/* Display */
.clear {clear: both;}
.srOnly {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:none;}
#topIcon {position:fixed;bottom:10px;right:10px;opacity:0.8;cursor:pointer;}
.inline-block {display: inline-block;}

.white-shodow{
  text-shadow: 1px 1px #FFFFFF, 1px 1px #FFFFFF, 1px 1px #FFFFFF, 1px 1px #FFFFFF;
  -moz-text-shadow: 1px 1px #FFFFFF, 1px 1px #FFFFFF, 1px 1px #FFFFFF, 1px 1px #FFFFFF;
  -webkit-text-shadow: 1px 1px #FFFFFF, 1px 1px #FFFFFF, 1px 1px #FFFFFF, 1px 1px #FFFFFF;
}

.text-shodow{
  text-shadow: 2px 2px #AAA, 2px 2px #AAA, 2px 2px #AAA, 2px 2px #AAA;
  -moz-text-shadow: 2px 2px #AAA, 2px 2px #AAA, 2px 2px #AAA, 2px 2px #AAA;
  -webkit-text-shadow: 2px 2px #AAA, 2px 2px #AAA, 2px 2px #AAA, 2px 2px #AAA;
}
.black-shadow {
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.black-shadow-md {
-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.m-top-contents {
	margin-top:5px;
	padding: 15px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.m_content_wrap {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	line-height:1.6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.content_m {
	margin-top:20px;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #FCFCFC;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.m_border_input {
	background-color: #FFFFFF;
	border: 1px solid #dddddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.shadow {
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.bottom_shadow {
-webkit-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.2);
}

.b-shadow {
  -webkit-box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.2);
}

.t_raudis {
-webkit-border-radius: 7px 7px 7px;
-moz-border-radius: 7px 7px  7px;
border-radius: 7px 7px  7px;
}

.head_raudis {
-webkit-border-radius: 7px 7px 0 0 ;
-moz-border-radius: 7px 7px 0 0;
border-radius: 7px 7px  0 0;
}

.bottom_raudis {
	-webkit-border-radius:0 0 7px 7px;
	-moz-border-radius:0 0 7px 7px;
	border-radius:0 0 7px 7px;
	}


.txt-shadow {text-shadow: 1px 1px 1px  #AAA;}
.txt-wshadow {text-shadow: 1px 1px 1px  #EFEFEF;}


.r_raudis {
	border: 1px solid #FFF;
	-webkit-border-radius: 0px 7px 0px 7px;
	-moz-border-radius: 0px 7px  0px  7px;
	border-radius: 0px 7px  0px 7px;
	 filter: alpha(opacity=90);
	opacity: .9;
}

.lm_raudis {
	border: 5px solid #FFF;
	-webkit-border-radius: 15px 0px 15px 0px;
	-moz-border-radius: 15px 0px  15px 0px;
	border-radius: 15px 0px  15px 0px;
	 filter: alpha(opacity=90);
	opacity: .9;
}

.l_raudis {
	border: 10px solid #FFF;
	-webkit-border-radius: 20px 0px 20px 0px;
	-moz-border-radius: 20px 0px  20px 0px;
	border-radius: 20px 0px  20px 0px;
	 filter: alpha(opacity=90);
	opacity: .9;
}

.close_raudis {
	border: 15px solid #FFF;
	-webkit-border-radius: 15px 0 0px 15px;
	-moz-border-radius: 15px 0  0px 15px;
	border-radius: 15px 0  0px 15px;
	 filter: alpha(opacity=80);
	opacity: .8;
}

.raudis10 {
	-webkit-border-radius: 10px ;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.raudis30 {
	-webkit-border-radius: 30px ;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.border-line		{border:1px solid #dddddd}


/*게시판 제목이 길때 overflow*/
.EllipsText{
	overflow : hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	-moz-binding:url(/xe/ellipsis.xml#ellipsis)
}
/*글자 좌우로 뒤집기*/
.t-scale {
	-moz-transform: scale(-1,1);
	-ms-transform: scale(-1,1);
	-o-transform: scale(-1,1); /* Op 11.5 only */
	-webkit-transform: scale(-1,1);
	transform: scale(-1,1);
}

.arrow_box0 {position: relative;/*background: #88b7d5;*/background:linear-gradient(180deg, #fedac4, #f95f02);	letter-spacing:-0.05em}
.arrow_box1 {position: relative;/*background: #88b7d5;*/background:linear-gradient(90deg, #e6fed9, #3ca303  );	border: 5px solid #FFF;	letter-spacing:-0.05em}
.arrow_box1:after, .arrow_box1:before{left:190px;top: 35%;border: solid transparent;content:" ";height: 60px;width:0;position: absolute;	pointer-events: none;}
.arrow_box1:after {border-left-color: #3ca303;border-width: 30px;margin-top: -23px;}
.arrow_box1:before{margin-top: -27px;}

.arrow_box2 {position: relative;/*background: #88b7d5;*/background:linear-gradient(90deg, #d9fce8, #028b3a);	border: 5px solid #FFF;	letter-spacing:-0.05em}
.arrow_box2:after, .arrow_box2:before{left:190px;top: 35%;border: solid transparent;content:" ";height: 60px;width:0;position: absolute;	pointer-events: none;}
.arrow_box2:after {border-left-color: #028b3a;border-width: 30px;margin-top: -23px;}
.arrow_box2:before{margin-top: -27px;}


.arrow_box3 {position: relative;/*background: #88b7d5;*/background:linear-gradient(90deg, #e0fcd1, #4d6a3d);	border: 5px solid #FFF;letter-spacing:-0.05em	}
.arrow_box3:after, .arrow_box3:before{left:190px;top: 35%;border: solid transparent;content:" ";height: 60px;width:0;position: absolute;	pointer-events: none;}
.arrow_box3:after {border-left-color: #4d6a3d;border-width: 30px;margin-top: -23px;}
.arrow_box3:before{margin-top: -27px;}




.arrow_box4 {position: relative;/*background: #88b7d5;*/background:linear-gradient(90deg, #e5e4b6, #7a7932);	border: 5px solid #FFF;	letter-spacing:-0.1em}
.arrow_box5 {position: relative;/*background: #88b7d5;*/background:linear-gradient(90deg, #feedca, #c98903);	border: 5px solid #FFF;	letter-spacing:-0.05em}
.top_box {position: relative;/*background: #88b7d5;*/background:linear-gradient(180deg, #FFF, #CCC);letter-spacing:-0.05em	}

.t-danger	{color:#ff0000}
.t-success	{color:#008000}
.t-info		{color:#0080c0}
.t-primary	{color:#0057a7}
.t-warning	{color:#ff8040}
.t-default	{color:#808080}
.t-mute		{color:#c0c0c0}
.t-inner	{color:#FFFFFF}
.t-black	{color:#000000}
.t-yellow	{color:yellow}
.t-menu		{color:#747474}
.bold		{font-weight:}
.t-navi		{color:#262262}
.t-warning2	{color:#f7941e}
.t-gray		{color:#747474}
.t-redwarning {color:#680a0a}
.t-body		{color:rgb(17, 17, 17);}
.td_subject_colr {color:#333}


.bg-mute	{background-color:#ededed }
.bg-danger	{background-color:#ffeaea }
.bg-info	{background-color:#dbf3ff }
.bg-primary	{background-color:#0057a7 }
.bg-warning	{background-color:#ffeedd }
.bg-default	{background-color:#fff }
.bg-success  {background-color:#ddffee }
.bg-violet	{background-color:#70B870 }
.bg-Menu	{background-color:#333 }
.bg-set		{background-color:#2586b9 }
.bg-price	{background-color:#EAAF52 }
.bg-black	{background-color:#000 }
.bg-navi	{background-color:#262262}
.bg-td		{background-color:#939598}
.bg-gray	{background-color:#eeeeee}
.bg-gray2	{background-color:#e2e2e2}

.bg-call01	{background-color:#0000ff }
.bg-call02	{background-color:#400000 }
.bg-call03	{background-color:#004000 }
.bg-call04	{background-color:#400040 }
.bg-call05	{background-color:#000080 }
.bg-callon	{background-color:red }
.bg-callTable	{background-color:orange }
.bg-cookon	{background-color:#286ddc }
.bg-ready	{background-color:#ffff00 }

.border-gray {border:1px solid #e2e2e2;}
.border-gray2 {border:1px solid rgba(0,0,0,.5);}

.border-left	{border-left:1px solid #dddddd}
.border-right	{border-right:1px solid #dddddd}
.border-top		{border-top:1px solid #dddddd}
.border-top2		{border-top:1px solid #000}
.border-bottom	{border-bottom:1px solid #dddddd}

.br-right-gray {border-right:1px solid rgba(0,0,0,.5);}
.brb-3dt-gray {border-bottom:3px dotted rgba(0,0,0,.5);}

.br-left	{border-left:1px solid #FEFEFE}
.br-right	{border-right:1px solid #FEFEFE}
.br-top		{border-top:1px solid #FEFEFE}
.br-bottom	{border-bottom:1px solid #FEFEFE}

.all-unstyled			{list-style:none;margin:0 0 5px 0;padding:0;}
.mg-auto				{margin:auto;}
.f-left					{float:left}
.f-right				{float:right}
.f-center				{margin:auto}
.top					{ vertical-align:top;}
.bottom					{vertical-align:bottom;}
.middle					{vertical-align:middle;}
.left					{text-align:left;}
.center					{text-align:center;}
.right					{text-align:right;}
.justify				{text-align:justify;}
.hand					{cursor:pointer}
.white					{color:#FFFFFF}
.back-white				{background-color:#FFFFFF}
.hide					{display:none}

.mn-title {font-size: 36px;}
.sb-title {font-size: 24px;}

.title05				{font-size:0.5em}
.title06				{font-size:0.6em}
.title07				{font-size:0.7em}
.title08				{font-size:0.8em}
.title09				{font-size:0.9em}
.title					{font-size:1em}
.title1					{font-size:1.1em}
.title2					{font-size:1.2em}
.title3					{font-size:1.3em}
.title4					{font-size:1.4em}
.title5					{font-size:1.5em}
.title6					{font-size:1.6em}
.title7					{font-size:1.71em}
.title8					{font-size:1.8em}
.title9					{font-size:1.9em}
.title10				{font-size:2em}
.title21				{font-size:2.1em}
.title22				{font-size:2.2em}
.title23				{font-size:2.3em}
.title24				{font-size:2.4em}
.title25				{font-size:2.55em}
.title26				{font-size:2.6em}
.title27				{font-size:2.7em}
.title28				{font-size:2.8em}
.title29				{font-size:2.9em}
.title30				{font-size:3em}
.title35				{font-size:3.5em}
.title40				{font-size:4em}
.title50				{font-size:5em}

.t100					{font-weight:100}
.t200					{font-weight:200}
.t300					{font-weight:300}
.t400					{font-weight:400}
.t500					{font-weight:500}
.t600					{font-weight:600}
.t700					{font-weight:700}
.t900					{font-weight:900}

.lheight10				{line-height:1;}
.lheight11				{line-height:1.1;}
.lheight12				{line-height:1.2;}
.lheight13				{line-height:1.3;}
.lheight14				{line-height:1.4;}
.lheight15				{line-height:1.5;}
.lheight16				{line-height:1.6;}
.lheight17				{line-height:1.7;}
.lheight18				{line-height:1.8;}
.lheight19				{line-height:1.9;}
.lheight20				{line-height:2;}
.lheight21				{line-height:2.1;}
.lheight22				{line-height:2.2;}
.lheight23				{line-height:2.3;}
.lheight24				{line-height:2.4;}
.lheight25				{line-height:2.5;}
.lheight26				{line-height:2.6;}



.cols-100	 {width:100%;}
.cols-99	 {width:99%;}
.cols-98	 {width:98%;}
.cols-97	 {width:97%;}
.cols-98	 {width:96%;}
.cols-95	 {width:95%;}
.cols-90	 {width:90%;}
.cols-88	 {width:88%;}
.cols-87	 {width:87%;}
.cols-85	 {width:85%;}
.cols-83	 {width:82.5666666666%;}
.cols-82	 {width:82%;}
.cols-81	 {width:81%;}
.cols-80	 {width:80%;}
.cols-79	 {width:79%;}
.cols-78	 {width:78%;}
.cols-75	 {width:75%;}
.cols-70	 {width:70%;}
.cols-69	 {width:69%;}
.cols-68	 {width:68%;}
.cols-67	 {width:67%;}
.cols-66	 {width:66%;}
.cols-65	 {width:65%;}
.cols-61	 {width:61%;}
.cols-60	 {width:60%;}
.cols-59	 {width:59%;}
.cols-58	 {width:58%;}
.cols-57	 {width:57%;}
.cols-56	 {width:56%;}
.cols-55	 {width:55%;}
.cols-54	 {width:54%;}
.cols-53	 {width:53%;}
.cols-52	 {width:52%;}
.cols-51	 {width:51%;}
.cols-50	 {width:50%;}
.cols-49	 {width:49%;}
.cols-48	 {width:48%;}
.cols-47	 {width:47%;}
.cols-46	 {width:46%;}
.cols-45	 {width:45%;}
.cols-44	 {width:44%;}
.cols-43	 {width:43%;}
.cols-42	 {width:42%;}
.cols-41	 {width:41%;}
.cols-40	 {width:40%;}
.cols-39	 {width:39%;}
.cols-38	 {width:38%;}
.cols-37	 {width:37%;}
.cols-36	 {width:36%;}
.cols-35	 {width:35%;}
.cols-34	 {width:34%;}
.cols_33	{width: 33.33333333%;}
.cols-32	 {width:32%;}
.cols-31	 {width:31%;}
.cols-30	 {width:30%;}
.cols-28	 {width:28%;}
.cols-26	 {width:26%;}
.cols-25	 {width:25%;}
.cols-24	 {width:24%;}
.cols-23	 {width:23%;}
.cols-22	 {width:22%;}
.cols-21	 {width:21%;}
.cols-20	 {width:20%;}
.cols-19	 {width:19%}
.cols-18	 {width:18%;}
.cols-17	 {width:17%;}
.cols-16	 {width:16%;}
.cols-15	 {width:15%;}
.cols-14	 {width:14.3%;}
.cols-13	 {width:13%;}
.cols-12	 {width:12%;}
.cols-11	 {width:11%;}
.cols-10	 {width:10%;}
.cols-08	 {width:8%;}
.cols-07	 {width:7%;}
.cols-05	 {width:5%;}

.higs-100	 {height:100%;}

.porfl    {position: relative;float: left;}
.porfr    {position: relative;float: right;}
.por    	{position: relative;}
.poa    	{position: absolute;}

.wid10					{width:10px;}
.wid15					{width:15px;}
.wid20					{width:20px;}
.wid25					{width:25px;}
.wid30					{width:30px;}
.wid35					{width:35px;}
.wid40					{width:40px;}
.wid45					{width:45px;}
.wid50					{width:50px;}
.wid58					{width:58px;}
.wid60					{width:60px;}
.wid65					{width:65px;}
.wid70					{width:70px;}
.wid75					{width:75px;}
.wid80					{width:80px;}
.wid90					{width:90px;}
.wid100					{width:100px;}
.wid120					{width:120px;}
.wid130					{width:130px;}
.wid150					{width:150px;}
.wid160					{width:160px;}
.wid180					{width:180px;}
.wid190					{width:190px;}
.wid200					{width:200px;}
.wid210					{width:210px;}
.wid250					{width:250px;}
.wid300					{width:300px;}
.wid310					{width:310px;}
.wid320					{width:320px;}
.wid330					{width:330px;}
.wid340					{width:340px;}
.wid350					{width:350px;}
.wid360					{width:360px;}
.wid370					{width:370px;}
.wid380					{width:380px;}
.wid390					{width:390px;}
.wid400					{width:400px;}
.wid450					{width:450px;}
.wid500					{width:500px;}
.wid550					{width:550px;}
.wid600					{width:600px;}
.wid650					{width:650px;}
.wid700					{width:700px;}
.wid750					{width:750px;}
.wid800					{width:800px;}
.wid900					{width:900px;}
.wid1000				{width:1000px;}

.hid15					{height:15px;}
.hid17					{height:17px;}
.hid18					{height:18px;}
.hid20					{height:20px;}
.hid23					{height:23px;}
.hid25					{height:25px;}
.hid27					{height:27px;}
.hid30					{height:30px;}
.hid35					{height:35px;}
.hid38					{height:38px;}
.hid40					{height:40px;}
.hid50					{height:50px;}
.hid55					{height:55px;}
.hid60					{height:60px;}
.hid65					{height:65px;}
.hid67					{height:67px;}
.hid70					{height:70px;}
.hid75					{height:75px;}
.hid80					{height:80px;}
.hid90					{height:90px;}
.hid100					{height:100px;}
.hid110					{height:110px;}
.hid120					{height:120px;}
.hid150					{height:150px;}
.hid160					{height:160px;}
.hid170					{height:170px;}
.hid180					{height:180px;}
.hid190					{height:190px;}
.hid200					{height:200px;}
.hid210					{height:210px;}
.hid220					{height:220px;}
.hid250					{height:250px;}
.hid300					{height:300px;}
.hid350					{height:350px;}
.hid400					{height:400px;}
.hid450					{height:450px;}
.hid500					{height:500px;}


.p-0          {padding:0 !important;}
.pd05         {padding:0 5px;}
.pd010        {padding: 0 10px;}
.pd015        {padding: 0 15px;}
.pd120        {padding: 12px 0;}
.pd200        {padding: 20px 0;}
.pd300        {padding: 30px 0;}
.pd370        {padding: 37px 0;}
.pd400        {padding: 40px 0;}
.pd470        {padding: 47px 0;}
.pd500        {padding: 50px 0;}
.pd540        {padding: 54px 0;}
.pd600        {padding: 60px 0;}
.pd700        {padding: 70px 0;}
.pd750        {padding: 75px 0;}

.pdt1					{padding-top:1px;}
.pdt2					{padding-top:2px;}
.pdt3					{padding-top:3px;}
.pdt5					{padding-top:5px;}
.pdt6					{padding-top:6px;}
.pdt7					{padding-top:7px;}
.pdt8					{padding-top:8px;}
.pdt9					{padding-top:9px;}
.pdt10					{padding-top:10px;}
.pdt11					{padding-top:11px;}
.pdt12					{padding-top:12px;}
.pdt13					{padding-top:13px;}
.pdt15					{padding-top:15px;}
.pdt17					{padding-top:17px;}
.pdt20					{padding-top:20px;}
.pdt22					{padding-top:22px;}
.pdt25					{padding-top:25px;}
.pdt28					{padding-top:28px;}
.pdt30					{padding-top:30px;}
.pdt35					{padding-top:35px;}
.pdt37					{padding-top:37px;}
.pdt40					{padding-top:40px;}
.pdt45					{padding-top:45px;}
.pdt48					{padding-top:48px;}
.pdt50					{padding-top:50px;}
.pdt55					{padding-top:55px;}
.pdt60					{padding-top:60px;}
.pdt65					{padding-top:65px;}
.pdt70					{padding-top:70px;}
.pdt75					{padding-top:75px;}
.pdt80					{padding-top:80px;}
.pdt85					{padding-top:85px;}
.pdt90					{padding-top:90px;}
.pdt95					{padding-top:95px;}
.pdt100					{padding-top:100px;}
.pdt200					{padding-top:200px;}
.pdt250					{padding-top:250px;}


.pdb3					{padding-bottom:3px;}
.pdb5					{padding-bottom:5px;}
.pdb7					{padding-bottom:7px;}
.pdb8					{padding-bottom:8px;}
.pdb9					{padding-bottom:9px;}
.pdb10					{padding-bottom:10px;}
.pdb12					{padding-bottom:12px;}
.pdb13					{padding-bottom:13px;}
.pdb15					{padding-bottom:15px;}
.pdb20					{padding-bottom:20px;}
.pdb23					{padding-bottom:23px;}
.pdb25					{padding-bottom:25px;}
.pdb30					{padding-bottom:30px;}
.pdb35					{padding-bottom:35px;}
.pdb37					{padding-bottom:37px;}
.pdb40					{padding-bottom:40px;}
.pdb45					{padding-bottom:45px;}
.pdb50					{padding-bottom:50px;}
.pdb55					{padding-bottom:55px;}
.pdb60					{padding-bottom:60px;}
.pdb65					{padding-bottom:65px;}
.pdb70					{padding-bottom:70px;}
.pdb80					{padding-bottom:80px;}
.pdb90					{padding-bottom:90px;}
.pdb100					{padding-bottom:100px;}

.pdl0					{padding-left:0;}
.pdl2					{padding-left:2px;}
.pdl3					{padding-left:3px;}
.pdl4					{padding-left:4px;}
.pdl5					{padding-left:5px;}
.pdl7					{padding-left:7px;}
.pdl10					{padding-left:10px;}
.pdl12					{padding-left:12px;}
.pdl15					{padding-left:15px;}
.pdl18					{padding-left:18px;}
.pdl20					{padding-left:20px;}
.pdl21					{padding-left:21px;}
.pdl22					{padding-left:22px;}
.pdl23					{padding-left:23px;}
.pdl24					{padding-left:24px;}
.pdl25					{padding-left:25px;}
.pdl30					{padding-left:30px;}
.pdl35					{padding-left:35px;}
.pdl40					{padding-left:40px;}
.pdl45					{padding-left:45px;}
.pdl50					{padding-left:50px;}
.pdl55					{padding-left:55px;}
.pdl60					{padding-left:60px;}
.pdl65					{padding-left:65px;}
.pdl70					{padding-left:70px;}
.pdl75					{padding-left:75px;}
.pdl80					{padding-left:80px;}
.pdl90					{padding-left:90px;}
.pdl100					{padding-left:100px;}
.pdl110					{padding-left:110px;}
.pdl120					{padding-left:120px;}
.pdl130					{padding-left:130px;}
.pdl140					{padding-left:140px;}
.pdl150					{padding-left:15px;}

.pdr2					{padding-right:2px;}
.pdr3					{padding-right:3px;}
.pdl4					{padding-right:4px;}
.pdr5					{padding-right:5px;}
.pdr7					{padding-right:7px;}
.pdr10					{padding-right:10px;}
.pdr12					{padding-right:12px;}
.pdr15					{padding-right:15px;}
.pdr18					{padding-right:18px;}
.pdr20					{padding-right:20px;}
.pdr21					{padding-right:21px;}
.pdr22					{padding-right:22px;}
.pdr23					{padding-right:23px;}
.pdr24					{padding-right:24px;}
.pdr25					{padding-right:25px;}
.pdr30					{padding-right:30px;}
.pdr35					{padding-right:35px;}
.pdr40					{padding-right:40px;}
.pdr45					{padding-right:45px;}
.pdr50					{padding-right:50px;}
.pdr55					{padding-right:55px;}
.pdr60					{padding-right:60px;}
.pdr65					{padding-right:65px;}
.pdr70					{padding-right:70px;}
.pdr75					{padding-right:75px;}
.pdr80					{padding-right:80px;}
.pdr90					{padding-right:90px;}
.pdr100					{padding-right:100px;}
.pdr110					{padding-right:110px;}
.pdr120					{padding-right:120px;}
.pdr130					{padding-right:130px;}
.pdr140					{padding-right:140px;}
.pdr150					{padding-right:15px;}

.mg0a         {margin:0 auto;}
.mg0					{margin: 0;}
.mg020        {margin:0 20px;}
.mg015        {margin:0 15px;}
.mg010        {margin:0 10px;}
.mgt5M					{margin-top:-5px;}

.mg100        {margin:10px 0;}
.mg200        {margin:20px 0;}
.mg300        {margin:30px 0;}
.mg400        {margin:40px 0;}

.mgt0					{margin-top:0px;}
.mgt2					{margin-top:2px;}
.mgt3					{margin-top:3px;}
.mgt5					{margin-top:5px;}
.mgt7					{margin-top:7px;}
.mgt9					{margin-top:9px;}
.mgt10					{margin-top:10px;}
.mgt13					{margin-top:13px;}
.mgt15					{margin-top:15px;}
.mgt17					{margin-top:17px;}
.mgt20					{margin-top:20px;}
.mgt25					{margin-top:25px;}
.mgt28					{margin-top:28px;}
.mgt30					{margin-top:30px;}
.mgt35					{margin-top:35px;}
.mgt40					{margin-top:40px;}
.mgt45					{margin-top:45px;}
.mgt50					{margin-top:50px;}
.mgt55					{margin-top:55px;}
.mgt60					{margin-top:60px;}
.mgt65					{margin-top:65px;}
.mgt70					{margin-top:70px;}
.mgt80					{margin-top:80px;}
.mgt90					{margin-top:90px;}
.mgt120					{margin-top:120px;}
.mgt200					{margin-top:200px;}
.mgt230					{margin-top:210px;}


.mgb0					{margin-bottom:0px;}
.mgb3					{margin-bottom:3px;}
.mgb5					{margin-bottom:5px;}
.mgb7					{margin-bottom:7px;}
.mgb10					{margin-bottom:10px;}
.mgb12					{margin-bottom:12px;}
.mgb15					{margin-bottom:15px;}
.mgb20					{margin-bottom:20px;}
.mgb23					{margin-bottom:23px;}
.mgb25					{margin-bottom:25px;}
.mgb30					{margin-bottom:30px;}
.mgb35					{margin-bottom:35px;}
.mgb40					{margin-bottom:40px;}
.mgb45					{margin-bottom:45px;}
.mgb50					{margin-bottom:50px;}
.mgb55					{margin-bottom:55px;}
.mgb60					{margin-bottom:60px;}
.mgb65					{margin-bottom:65px;}
.mgb70					{margin-bottom:70px;}

.mgl0					{margin-left:0px;}
.mgl1					{margin-left:1px;}
.mgl2					{margin-left:2px;}
.mgl3					{margin-left:3px;}
.mgl4					{margin-left:4px;}
.mgl5					{margin-left:5px;}
.mgl7					{margin-left:7px;}
.mgl8					{margin-left:8px;}
.mgl9					{margin-left:9px;}
.mgl10					{margin-left:10px;}
.mgl11					{margin-left:11px;}
.mgl12					{margin-left:12px;}
.mgl15					{margin-left:15px;}
.mgl16					{margin-left:16px;}
.mgl17					{margin-left:17px;}
.mgl18					{margin-left:18px;}
.mgl20					{margin-left:20px;}
.mgl25					{margin-left:25px;}
.mgl30					{margin-left:30px;}
.mgl35					{margin-left:35px;}
.mgl40					{margin-left:40px;}
.mgl45					{margin-left:45px;}
.mgl50					{margin-left:50px;}
.mgl55					{margin-left:55px;}
.mgl60					{margin-left:60px;}
.mgl65					{margin-left:65px;}
.mgl70					{margin-left:70px;}
.mgl80					{margin-left:80px;}
.mgl85					{margin-left:85px;}
.mgl90					{margin-left:90px;}
.mgl100					{margin-left:100px;}
.mgl150					{margin-left:150px;}
.mgl200					{margin-left:200px;}
.mgl230					{margin-left:230px;}

.mgr3					{margin-right:3px;}
.mgr5					{margin-right:5px;}
.mgr7					{margin-right:7px;}
.mgr8					{margin-right:8px;}
.mgr9					{margin-right:9px;}
.mgr10					{margin-right:10px;}
.mgr11					{margin-right:11px;}
.mgr12					{margin-right:12px;}
.mgr13					{margin-right:13px;}
.mgr14					{margin-right:14px;}
.mgr15					{margin-right:15px;}
.mgr16					{margin-right:16px;}
.mgr18					{margin-right:18px;}
.mgr20					{margin-right:20px;}
.mgr25					{margin-right:25px;}
.mgr30					{margin-right:30px;}
.mgr35					{margin-right:35px;}
.mgr40					{margin-right:40px;}
.mgr45					{margin-right:45px;}
.mgr50					{margin-right:50px;}
.mgr55					{margin-right:55px;}
.mgr60					{margin-right:60px;}
.mgr70					{margin-right:70px;}
.mgr80					{margin-right:80px;}
.mgr90					{margin-right:90px;}
.mgr100					{margin-right:100px;}
.mgr150					{margin-right:150px;}

#popup, #hiddenZone {position: fixed;
		 z-index:999999;
		 width:500px;
		 height:490px;
		 top:150px;
		 left:50%;
		 display:none;
		 background-color:#FFFFFF;
		 border:1px solid #dddddd;
		 overflow-y:scroll;
}

.btn-success, .btn-primary, .btn-dnager, .btn-warning {color:#FFF}

/*인쇄할때 페이지 강제나눔 */
.pgskip {page-break-before: always;}
/*문단, 단어 정리 */
.word_br {
	word-break:keep-all;
}
