.sub-menu-wrap {width:100%;min-width: 1200px;height: 60px;border-bottom: 1px solid #ddd;float: left;}
.line-sub-menu {margin:0 auto;width:1200px;z-index: 11;}
.line-menu {width:100%;z-index: 11;}
.sub-menu-wrap .line-sub-menu .line-menu {width:1200px;position:absolute;z-index:11;}
.lms-list {
  display: none;
  z-index: 11;
}
/* 홈 아이콘 */
.line-menu-home {width: 60px;float: left;text-align: center;border-left: 1px solid #aaa;border-right: 1px solid #aaa;font-size: 1.5em;line-height: 60px;}
/* 드롭다운 메뉴 */
.line-menu-ul {margin: 0;}
.ul-item {
  min-width: 300px;
  transition: all .2s ease;
  float: left;
}
/* 드롭다운 메뉴 제목 */
.line-menu-ul > li > label {
  margin: 0;
  padding: 0 1.25em;
  border-right: 1px solid #aaa;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  cursor: pointer;
  z-index: 1;
}
.line-menu-ul > li > label::after {content:"\f105";float:right;font-size:1.5em;font-weight:900;color:#aaa;font-family:"Font Awesome 5 Free";transition: ease-in-out 0.2s;}
.line-menu-ul > li > input {position: absolute;opacity: 0;z-index: 11;}
.line-menu-ul > li:hover {background: #dff4ff;z-index: 11;border-bottom: 1px solid #c0c0c0;}
/* 체크박스 체크되면 서브메뉴리스트 드롭다운 */
.line-menu-ul > li > input:checked ~ .lms-list {
  display: block;
  animation: growDown 400ms ease-in-out forwards;
  transform-origin: top center;
}
.line-menu-ul > li > input:checked ~ ::after {
  transform: rotate(90deg);
}
/* 서브메뉴 리스트 */
.lms-list > li > a {margin: 0;padding: 0 1.25em;background: #fff;position: relative;display: flex;align-items: center;line-height: 60px;border-right: 1px solid #c0c0c0;border-left: 1px solid #c0c0c0;border-bottom: 1px solid #c0c0c0;transition: ease-in-out 0.2s;cursor: pointer;z-index: 2;}
.lms-list > li > a:hover {background: #dff4ff;}

/* 애니메이션 */
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
