html, body {width:100%;min-width:320px;height: auto;}
body.freeze {overflow-y:hidden;}
.wrapper {margin:0 auto; width:100%;min-width:320px;}
a {text-decoration: none!important;}
.body-cont{width:100%;min-width:320px;font-weight:400;}


li{
  list-style: none;
}
a,
a:hover,
a:focus
{
  text-decoration: none;
  color: #000;
}
.section{
  width: 100%;
}

/* navbar */
.nav{
  width: 100%;
  position: fixed;
  z-index: 1;
}
.nav-container{
  padding: 40px 30px;
  position: absolute;
  left: 2%;
  top: 0;
  background: rgba(255,255,255,.5);
  transition: all .5s;
}
.nav-logo{
}
.nav-logo img {
  width: 115px;
}
.nav-menu{
  line-height: 1.2;
}
.nav-atag{
  line-height: 1;
  transition: all .5s;
}
.nav-atag:hover{
  opacity: .5;
}
.li-items1 {
  margin-top: 30px;
  font-size: 15px;
  text-transform: uppercase;
}
.li-items2 {
  font-size: 20px;
  font-weight: bold;
}
.m-nav-menu,
.m-menu-list{
  display: none;
}

/* page1 */
.page1{
  background-image: url('/images/Layer_5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .77s;
  -webkit-transition: all .77s;
  -moz-transition: all .77s;
  -o-transition: all .77s;

  -ms-transform: all .77s;
  -webkit-transform: all .77s;


}
.page1-1{
  background-image: url('/images/Layer_10.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 3s;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
}
.ctner-contents1{
  margin: 160px auto 0 auto;
  font-size: 20px;
}
.ctner-contents1 > .contents1-txt:first-child{
  margin-bottom: 70px;
  font-size: 30px;
}
.contents1-txt{
  margin-bottom: 25px;
}
.nowbtn{
  margin: 0 auto;
  padding: 5px 40px;
  background: rgba(255,255,255,.8);
  font-size: 15px;
  border: 1px solid #919191;
  border-radius: 5px;
  transition: all .5s;
}
.nowbtn:hover{
  color: #fff;
  background: #000;
}

/* page2 */
.page2{
  background-image: url('/images/Layer_4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .77s;
   -webkit-transition: all .77s;
  -moz-transition: all .77s;
  -o-transition: all .77s;

  -ms-transform: all .77s;
  -webkit-transform: all .77s;
}
.page2-1{
  background-image: url('/images/Layer_9.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;

  -ms-transform: all 3s;
  -webkit-transform: all 3s;
}
.cont2{
  position: absolute;
  top: 10%;
  left: 17%;
}
.ctner-contents2{
  font-size: 20px;
}
.contents2-span{
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
.ctner-contents2 > div > span{
  color: #ff5100;
}
.contents2-unline{
  margin: 10px 0;
  width: 40px;
  border-bottom: 1px solid #000;
}

/* page3 */
.page3{
  background-image: url('/images/Layer_3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .77s;
   -webkit-transition: all .77s;
  -moz-transition: all .77s;
  -o-transition: all .77s;

  -ms-transform: all .77s;
  -webkit-transform: all .77s;
}
.page3-1{
  background-image: url('/images/Layer_8.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;

  -ms-transform: all 3s;
  -webkit-transform: all 3s;
}
.cont3{
  position: absolute;
  left: 11%;
  bottom: 19%;
}
.ctner-contents3{
  font-size: 20px;
}
.contents3-txt:nth-child(2){
  font-size: 30px;
  font-weight: bold;
}
.contents3-strg{
  font-size: 30px;
  color: green;
}


/* page4 */
.page4{
  background-image: url('/images/Layer_2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .77s;
   -webkit-transition: all .77s;
  -moz-transition: all .77s;
  -o-transition: all .77s;

  -ms-transform: all .77s;
  -webkit-transform: all .77s;
}
.page4-1{
  background-image: url('/images/Layer_11.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;

  -ms-transform: all 3s;
  -webkit-transform: all 3s;
}
.cont4{
  position: absolute;
  left: 11%;
  bottom: 14%;
}
.ctner-contents4{
  font-size: 20px;
}
.contents4-txt:nth-child(3){
  font-size: 30px;
  font-weight: bold;
}
.contents4-strg{
  font-size: 30px;
  color: #0072bb;
}


/* page5 */
.page5{
  background-image: url('/images/Layer_1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .77s;
   -webkit-transition: all .77s;
  -moz-transition: all .77s;
  -o-transition: all .77s;

  -ms-transform: all .77s;
  -webkit-transform: all .77s;
}
.page5-1{
  background-image: url('/images/Layer_6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;

  -ms-transform: all 3s;
  -webkit-transform: all 3s;
}
.ctner-contents5{
  margin: 0 auto;
  font-size: 20px;
}
.contents5-txt:nth-child(3){
  font-size: 30px;
  font-weight: bold;
}
.contents5-span{
  color: #f6c746;
}
.contents5-span > span{
  font-size: 30px;
  font-weight: 500;
}
.contents5-strg{
  font-size: 22px;
  color: #fff24b;
}
.contents5-img{
  margin: 0 auto;
  width: 110px;
  height: 102px;
}
.contents5-img > img {
  width: 100%;
}
.img-conts{
  margin-top: 20px;
  width: 100%;
  color: #fff;
}
.contents5-unline{
  margin: 10px auto;
  width: 535px;
  min-height: 1px;
  text-align: center;
  border-top: 1px solid #fff;
}


/* Footer */
.Footer,
.Footer > .fp-tableCell{
  padding: 15px 0;
  height: auto !important;
  background: #e5e5e5;
}
.fc-logo{
  margin-bottom: 15px;
}
.fc-logo > img{
  width: 150px;
}
.fc-content2{
  margin: auto 0;
}
.fc-line{
  margin: 0 auto;
  width: 1px;
  height: 120px;
  background: #000;
}
.fc-content3{
  padding-left: 20px;
  line-height: 3;
}
.fc-txt{
  color: #000;
  font-weight: 300;
}


@media screen and (max-width: 1024px){
  .ctner-contents5{
    margin: 0 auto;
  }
  .img-conts{
    font-size: 15px;
  }
}
@media screen and (max-width: 769px){
  /* navbar */
  #fp-nav{
    display: none;
  }
  .m-nav-menu,
  .m-menu-list{
    display: block;
  }
  .nav-menu{
    display: none;
  }
  .nav-container{
    padding: 20px 30px;
    width: 100%;
    display: flex;
    left: 0;
    background: none;
    justify-content: space-between;
  }
  .nav-1:hover{
    background: none;
  }
  .m-nav-menu{
    transition: all .5s;
    line-height: 2;
  }
  .m-nav-icon{
    color: #000;
    font-size: 25px;
  }
  .m-menu-list{
    padding: 10em 20px 20px 20px;
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, .7);
    transform: translateX(100%);
    transition: all .5s;
    z-index: -1;
  }
  .m-nav-open{
    transform: translateX(0);
  }
  .m-li-items1{
    margin-top: 30px;
    font-size: 10px;
    text-transform: uppercase;
  }
  .m-li-items2{
    font-size: 15px;
    font-weight: bold;
  }

  /* page1 */
  .ctner-contents1{
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
  }
  .contents1-txt{
    padding: 0;
  }
  .ctner-contents1 > .contents1-txt:first-child{
    margin-bottom: 35px;
    font-size: 20px;
  }
  .col-xs-12.mgt70{
    margin-top: 10px !important;
  }

  /* page2 */
  .cont2{
    position: relative;
    top: 0;
    left: 0;
  }
  .ctner-contents2,
  .ctner-contents2 > div:nth-child(6){
    padding: 0;
  }
  .contents2-span{
    font-size: 20px;
  }
  .contents2-unline{
    margin: 5px 0;
  }
  .contents2-span,
  .contents2-txt{
    padding: 0;
  }
  .contents2-txt{
    font-size: 15px;
  }

  /* page3 */
  .cont3{
    position: relative;
    left: 0;
    bottom: 0;
  }
  .ctner-contents3{
    font-size: 15px;
  }
  .contents3-strg,
  .contents3-txt:nth-child(2){
    font-size: 20px;
  }
  .ctner-contents3 > div{
    padding: 0;
  }

  /* page4 */
  .cont4{
    position: relative;
    left: 0;
    bottom: 0;
  }
  .ctner-contents4{
    font-size: 15px;
  }
  .contents4-strg,
  .contents4-txt:nth-child(3){
    font-size: 20px;
  }
  .ctner-contents4 > div{
    padding: 0;
  }

  /* page5 */
  .ctner-contents5{
    padding: 0;
    font-size: 15px;
  }
  .ctner-contents5 > div{
    padding: 0;
  }
  .ctner-contents5 > div:nth-child(3){
    text-align: left;
  }
  .contents5-span > span{
    font-size: 20px;
  }
  .contents5-strg{
    font-size: 17px;
  }
  .contents5-unline{
    margin: 5px auto;
    width: 100%;
  }
  .contents5-img{
    margin-right: 20px;
    width: 80px;
    height: auto;
  }
  .m_contents5-flex{
    margin-bottom: 20px;
    padding: 0;
    display: flex;
  }
  .img-conts{
    margin-top: 0;
  }

  /* footer */
  .Footer > .fp-tableCell > .container > .row > .col-sm-12.col-xs-12.flex{
    padding: 20px 10px;
    display: block;
  }
  .fc-content1{
    margin: 0 auto;
  }
  .fc-logo > img {
    width: 100px;
  }
  .fc-content2{
    display: none;
  }
  .fc-content3{
    margin-top: 20px;
    margin-left: 0;
    line-height: 1.5;
  }
}
@media screen and (max-width: 480px){
  /* navber */
  .m-menu-list{
    width: 60%;
  }
  /* footer */
  .Footer{
    text-align: center;
  }
  .m_fpart1{
    display: none;
  }
  .fc-logo{
    display: none;
  }
  .fc-content3{
    margin-top: 0px;
  }
}
