/* navbar */
.nav{
  width: 100%;
  position: fixed;
}
.nav-container{
  padding: 30px 50px;
  width: 100%;
  display: flex;
  position: initial;
  background: rgba(255,255,255,.5);
}
.nav-container:hover{
  background: rgba(255,255,255,.5);
}
.nav-1,
.nav-2
{
  background: rgba(0,0,0,.5) !important;
}
.nav-1:hover,
.nav-2:hover
{
  background: rgba(0,0,0,.5);
}
.nav-1 div,
.nav-2 div
{
  color: #fff;
}
.nav-logo{
  width: 12%;
}
.nav-menu{
  width: 88%;
  display: flex;
  align-items: center;
}
.nav-atag{
  margin: 0 35px;
  text-align: center;
  transition: all .5s;
  color: #000;
}
.nav-atag:hover{
  color: rgba(0,0,0,.5);
}
.li-items1{
  margin: 0;
  text-transform: uppercase;
}
.li-items2{
  font-weight: bold;
}
.m-nav-menu,
.m-menu-list{
  display: none;
}


/* footer */
.Footer, .Footer > .fp-tableCell {
    padding: 25px 0;
    height: auto !important;
    background: #e5e5e5;
}

@media screen and (max-width: 1024px){
  /* navbar */
  .nav-logo {
    width: 100%;
  }
  .m-nav-menu,
  .m-menu-list{
    display: block;
  }
  .nav-menu{
    display: none;
  }
  .nav-container{
    padding: 20px 30px;
    width: 100%;
    display: flex;
    left: 0;
    background: none;
    justify-content: space-between;
  }
  .nav-container:hover{
    background: none;
  }
  .m-nav-menu{
    transition: all .5s;
    line-height: 2;
  }
  .m-nav-icon{
    color: #000;
    font-size: 25px;
  }
  .m-menu-list{
    padding: 10em 20px 20px 20px;
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, .7);
    transform: translateX(100%);
    transition: all .5s;
    z-index: -1;
  }
  .m-nav-open{
    transform: translateX(0);
  }
  .m-li-items1{
    margin-top: 30px;
    font-size: 10px;
    text-transform: uppercase;
  }
  .m-li-items2{
    font-size: 15px;
    font-weight: bold;
  }
}
@media screen and (max-width: 950px){
  .nav-logo{
    margin-right: 50px;
  }
  .nav-menu{
    margin-left: 20px;
  }
}
