
.section{
  width: 100%;
}

/* page1 */
.section1{
  margin: 0 auto;
  width: 100%;
}
.card{
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
  text-align: center;
}
.card-cont1{
  width: 100%;
}
.card-img-title{
  margin-bottom: 60px;
  width: 100%;
}
.card-title{
  margin-bottom: 30px;
  width: 100%;
  font-size: 30px;
}
.card-contents1{
  margin-top: 30px;
  width: 100%;
  font-size: 20px;
  line-height: 2;
}
.card-contents1:nth-child(2){
  display: flex;
}
.card-cont-item > img{
  height: 100px;
  margin-bottom: 20px;
}
.card-hei-line{
  margin: 30px auto;
  width: 1px;
  height: 100px;
  background: #ef5e22;
}
.card-contents2{
  margin: 0 auto;
  width: 100%;
}
.card-stitle{
  margin: 0 auto;
  width: 480px;
  font-size: 20px;
}
.cd-stitle2{
  width: 100%;
}
.cd-stitle2 > span{
  color: #ff5100;
  font-size: 30px;
  font-weight: bold;
}
.cd-unline{
  margin: 5px 0;
  width: 100%;
  height: 3px;
  background: #ccc;
}
.card-cont-item{
  padding: 20px;
  width: 33.333%;
}
.card-item-txt{
  line-height: 2;
}

/* page2 */
.section2{
  margin: 0 auto;
  width: 100%;
}
.part2-page{
  padding-bottom: 20px;
  width: 100%;
  height: 820px;
  vertical-align: middle;
  background-image: url('../../images/sub01/page1_bg-2.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: all .77s;
}
.section2-title-dv{
  margin: 120px 0 50px 0;
  width: 100%;
  color: #fff;
  font-size: 30px;
  position: relative;
}
.section2-title{
  margin-left: 20px;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.section2-title:nth-child(2){
  font-weight: bold;
}
.section2-title-bd{
  width: 3px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
.section2-stitle-dv{
  margin: 30px 0;
  width: 100%;
  color: #fff;
  float: left;
}
.section2-stitle{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
.section2-stitle-txt{
  font-size: 20px;
}
.section2 > .container:nth-child(2) .card-stitle{
  width: 500px;
}
.section2 > .container:nth-child(2) .card-contents2{
  margin-top:60px;
}
.section2 > .container:nth-child(2) span{
  color:#00b737;
}

/* page3 */
.section3{
  margin: 0 auto;
  width: 100%;
}
.part3-page{
  padding-bottom: 20px;
  width: 100%;
  height: 820px;
  vertical-align: middle;
  background-image: url('../../images/sub01/page1_bg-3.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: all .77s;
}
.section3-title-dv{
  margin: 120px 0 50px 0;
  width: 100%;
  color: #fff;
  font-size: 30px;
  position: relative;
}
.section3-title{
  margin-left: 20px;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.section3-title:nth-child(2){
  font-weight: bold;
}
.section3-title-bd{
  width: 5px;
  height: 67px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  background: #fff;
}
.section3-stitle-dv{
  margin: 30px 0;
  width: 100%;
  color: #fff;
  float: left;
}
.section3-stitle{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
.section3-stitle-txt{
  font-size: 20px;
}
.section3 > .container:nth-child(2) .card-title > span{
  color: #000;
}
.section3 > .container:nth-child(2) .card-stitle{
  width: 500px;
}
.section3 > .container:nth-child(2) .card-contents2{
  margin-top:60px;
}
.section3 > .container:nth-child(2) span{
  color: #00adee;
}

/* page4 */
.section4{
  margin: 0 auto;
  width: 100%;
}
.part4-page{
  padding-bottom: 20px;
  width: 100%;
  height: 820px;
  vertical-align: middle;
  background-image: url('../../images/sub01/page1_bg-4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .77s;
}
.section4-title-dv{
  margin: 120px 0 50px 0;
  width: 100%;
  color: #fff;
  font-size: 30px;
  position: relative;
}
.section4-title{
  margin-left: 20px;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.section4-title:nth-child(2){
  font-weight: bold;
}
.section4-title-bd{
  width: 5px;
  height: 67px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  background: #fff;
}
.section4-stitle-dv{
  margin: 30px 0;
  width: 100%;
  color: #fff;
  float: left;
}
.section4-stitle{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
.section4-stitle-txt{
  font-size: 20px;
}

@media screen and (max-width: 1024px){
  .ctner-contents5{
    margin: 0 auto;
  }
  .img-conts{
    font-size: 15px;
  }
}
@media screen and (max-width: 950px){
}
@media screen and (max-width: 769px){
  /* page1 */
  .ctner-contents1{
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
  }
  .contents1-txt{
    padding: 0;
  }
  .ctner-contents1 > .contents1-txt:first-child{
    margin-bottom: 35px;
    font-size: 20px;
  }
  .col-xs-12.mgt70{
    margin-top: 10px !important;
  }

  /* page2 */
  .cont2{
    position: relative;
    top: 0;
    left: 0;
  }
  .ctner-contents2,
  .ctner-contents2 > div:nth-child(6){
    padding: 0;
  }
  .contents2-span{
    font-size: 20px;
  }
  .contents2-unline{
    margin: 5px 0;
  }
  .contents2-span,
  .contents2-txt{
    padding: 0;
  }
  .contents2-txt{
    font-size: 15px;
  }

  /* page3 */
  .cont3{
    position: relative;
    left: 0;
    bottom: 0;
  }
  .ctner-contents3{
    font-size: 15px;
  }
  .contents3-strg,
  .contents3-txt:nth-child(2){
    font-size: 20px;
  }
  .ctner-contents3 > div{
    padding: 0;
  }

  /* page4 */
  .cont4{
    position: relative;
    left: 0;
    bottom: 0;
  }
  .ctner-contents4{
    font-size: 15px;
  }
  .contents4-strg,
  .contents4-txt:nth-child(3){
    font-size: 20px;
  }
  .ctner-contents4 > div{
    padding: 0;
  }

  /* page5 */
  .ctner-contents5{
    padding: 0;
    font-size: 15px;
  }
  .ctner-contents5 > div{
    padding: 0;
  }
  .ctner-contents5 > div:nth-child(3){
    text-align: left;
  }
  .contents5-span > span{
    font-size: 20px;
  }
  .contents5-strg{
    font-size: 17px;
  }
  .contents5-unline{
    margin: 5px auto;
    width: 100%;
  }
  .contents5-img{
    margin-right: 20px;
    width: 80px;
    height: auto;
  }
  .m_contents5-flex{
    margin-bottom: 20px;
    padding: 0;
    display: flex;
  }
  .img-conts{
    margin-top: 0;
  }
}
@media screen and (max-width: 600px){
  /* part1 */
  .card-title{
    font-size: 22px;
  }
  .card-contents1,
  .card-stitle{
    font-size: 15px;
  }
  .cd-stitle2 > span{
    font-size: 20px;
  }
  .card-contents1:nth-child(2){
    display: block;
  }
  .card-cont-item{
    width: 100%;
  }
  .card-contents2 .card-contents1{
    margin-top: 50px;
    display: block;
  }
  .card-contents2 .card-contents1 > .card-cont-item{
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
  }
  .card-contents2 .card-contents1 > .card-cont-item > img{
    width: auto;
    height: auto;
  }
  .card-item-txt br{
    display: none;
  }
  .card-contents2 .card-contents1 > .card-cont-item > img{
    width: auto;
    height: min-content;
  }
  .card-stitle,
  .section2 > .container:nth-child(2) .card-stitle,
  .section3 > .container:nth-child(2) .card-stitle
  {
    width: 100%;
  }

  /* part2 */
  .part2-page{
    height: auto;
    font-size: 25px;
  }
  .section2-title-dv{
    margin: 50px 0;
    font-size: 23px;
  }
  .section2-title{
    margin-left: 10px;
  }
  .section2-stitle{
    font-size: 20px;
  }
  .section2-stitle-txt{
    font-size: 17px;
  }

  /* part3 */
  .part3-page{
    height: auto;
    font-size: 25px;
  }
  .section3-title-dv{
    margin: 50px 0;
    font-size: 23px;
  }
  .section3-title{
    margin-left: 10px;
  }
  .section3-stitle{
    font-size: 20px;
  }
  .section3-stitle-txt{
    font-size: 17px;
  }

  /* part4 */
  .part4-page{
    height: auto;
    font-size: 25px;
  }
  .section4-title-dv{
    margin: 50px 0;
    font-size: 23px;
  }
  .section4-title{
    margin-left: 10px;
  }
  .section4-stitle{
    font-size: 20px;
  }
  .section4-stitle-txt{
    font-size: 17px;
  }

}
