body{
  margin: 0;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
li{
  list-style: none;
}
a,
a:hover,
a:focus
{
  text-decoration: none;
  color: #000;
}
.section{
  width: 100%;
}

/* section1 */
.section1{
  margin: 30px auto;
  width: 100%;
}
.section1-contents{
  margin: 40px auto;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
.section1-title,
.section1-title2{
  margin: 30px 0;
  width: 100%;
  color: #66a9d6;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}
.section1-title2 > strong{
  color: #0072bb;
}
.section1-stitle,
.section1-stitle2{
  margin-bottom: 60px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.section1-stitle2{
  font-weight: 300;
}
.section1-stitle2 > span{
  font-size: 25px;
}
.st1-cont1{
  width: 100%;
  position: relative;
}
.st1-cont1-img-txt{
  font-size: 25px;
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
}
.st1-cont1-imgPc{
  width: 100%;
  display: block;
}
.st1-cont1-imgMobile{
  display: none;
}

/* section2 */
.section2{
  margin: 30px auto;
  width: 100%;
}
.section2-contents{
  margin: 20px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section2-title{
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 30px;
}
.section2-title-icon{
  margin: 15px auto;
  width: 40px;
}
.section2-stitle{
  margin-bottom: 50px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 25px;
}
.st2-cont1{
  width: 100%;
  text-align: center;
}
.st2-cont1 > img{
  width: 100%;
}
.st2-cont1-logo{
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.st2-cont1-logo > img{
  width: 130px;
}
.st2-cont1-logo-line{
  margin-right: 35px;
  width: 2px;
  height: 50px;
  background: #ccc;
}
.st2-cont1-logo-txt{
      font-size: 25px;
}
.st2-cont2{
  margin-top: 20px;
  padding: 30px;
  width: 100%;
  border-bottom: 3px solid #ddd;
}

/* section3 */
.section3{
  margin: 30px auto;
  width: 100%;
}
.section3-contents{
  margin: 20px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section3-title{
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 30px;
}
.section3-title-icon{
  margin: 15px auto;
  width: 100px;
}
.section3-stitle{
  margin-bottom: 50px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 25px;
}
.st3-cont1{
  width: 100%;
  text-align: center;
}
.st3-cont1 > img{
  width: 100%;
}
.st3-cont1-logo{
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.st3-cont1-logo > img{
  width: 130px;
}
.st3-cont1-logo-line{
  margin-right: 35px;
  width: 2px;
  height: 50px;
  background: #ccc;
}
.st3-cont1-logo-txt{
      font-size: 25px;
}
.st3-cont2{
  margin-top: 20px;
  padding: 30px;
  width: 100%;
  border-bottom: 3px solid #ddd;
}

/* section4 */
.section4{
  margin: 30px auto;
  width: 100%;
}
.section4-contents{
  margin: 20px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section4-title{
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 30px;
}
.section4-title-icon{
  margin: 15px auto;
  width: 70px;
}
.section4-stitle{
  margin-bottom: 50px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 25px;
}
.st4-cont1{
  width: 100%;
  text-align: center;
}
.st4-cont1 > img{
  width: 100%;
}
.st4-cont1-logo{
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.st4-cont1-logo > img{
  width: 130px;
}
.st4-cont1-logo-line{
  margin-right: 35px;
  width: 2px;
  height: 50px;
  background: #ccc;
}
.st4-cont1-logo-txt{
      font-size: 25px;
}
.st4-cont2{
  margin-top: 20px;
  padding: 30px;
  width: 100%;
  border-bottom: 3px solid #ddd;
}

/* section5 */
.section5{
  margin: 30px auto;
  width: 100%;
}
.section5-contents{
  margin: 20px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section5-title{
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 30px;
}
.section5-title-icon{
  margin: 15px auto;
  width: 70px;
}
.section5-stitle{
  margin-bottom: 50px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 25px;
}
.st5-cont1{
  width: 100%;
  text-align: center;
}
.st5-cont1 > img{
  width: 100%;
}
.st5-cont1-img-txt{
  margin: 20px 0;
  width: 100%;
  font-size: 25px;
}
.st5-cont2{
  margin-top: 50px;
  width: 100%;
}
.st5-cont2-img-logo{
  width: 100%;
  text-align: center;
}
.st5-cont2-img-logo > img{
  margin: 20px 0;
  width: 130px;
}
.st5-cont3{
  margin-top: 20px;
  padding: 30px;
  width: 100%;
  border-bottom: 3px solid #ddd;
}

/* section6 */
.section6{
  margin: 30px auto;
  width: 100%;
}
.section6-contents{
  margin: 20px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section6-title{
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 30px;
}
.section6-title-icon{
  margin: 15px auto;
  width: 120px;
}
.section6-stitle{
  margin-bottom: 50px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 25px;
}
.st6-cont1{
  width: 100%;
  text-align: center;
}
.st6-cont1 > img{
  width: 100%;
}
.st6-cont1-logo{
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.st6-cont1-logo > img{
  width: 130px;
}
.st6-cont1-logo-line{
  margin-right: 35px;
  width: 2px;
  height: 50px;
  background: #ccc;
}
.st6-cont1-logo-txt{
  font-size: 25px;
}
.st6-cont2{
  margin-top: 20px;
  padding: 30px;
  width: 100%;
  border-bottom: 3px solid #ddd;
}

/* section7 */
.section7{
  margin: 30px auto;
  width: 100%;
}
.section7-contents{
  margin: 20px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section7-title{
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 30px;
}
.section7-title-icon{
  margin: 15px auto;
  width: 125px;
}
.section7-stitle{
  margin-bottom: 50px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 25px;
}
.st7-cont1{
  width: 100%;
}
.st7-cont1 > img{
  width: 100%;
}
.st7-cont1-txt{
  margin-top: 20px;
  padding: 30px;
  width: 100%;
  border-bottom: 3px solid #ddd;
}

/* section8 */
.section8{
  margin: 30px auto;
  width: 100%;
}
.section8-contents{
  margin: 50px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section8-title{
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 30px;
}
.section8-title-icon{
  margin: 15px auto;
  width: 120px;
}
.st8-cont1{
  margin: 0 -20px;
  padding: 0 15px;
  width: 100%;
  display: flex;
}
.st8-cont1 > img{
  margin: 0 10px;
  width: 50%;
  border: 2px solid #006333;
}

/* section9 */
.section9{
  margin: 30px auto;
  width: 100%;
}
.section9-contents{
  margin: 20px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section9-title{
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 30px;
}
.section9-title-icon{
  margin: 15px auto;
  width: 100px;
}
.section9-stitle{
  margin-bottom: 50px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 25px;
}
.st9-cont1{
  width: 100%;
}
.st9-cont1-as{
  width: 100%;
  position: relative;
}
.st9-cont1 > .st9-cont1-as >img{
  width: 100%;
}
.st9-cont1-asNum{
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 30px;
}
.st9-cont1-txt{
  margin-top: 20px;
  padding: 30px;
  width: 100%;
}


@media screen and (max-width: 1024px){
  /* navbar */
  .nav-logo {
    width: 100%;
  }
  .m-nav-menu,
  .m-menu-list{
    display: block;
  }
  .nav-menu{
    display: none;
  }
  .nav-container{
    padding: 20px 30px;
    width: 100%;
    display: flex;
    left: 0;
    background: none;
    justify-content: space-between;
  }
  .nav-container:hover{
    background: none;
  }
  .m-nav-menu{
    transition: all .5s;
    line-height: 2;
  }
  .m-nav-icon{
    color: #000;
    font-size: 25px;
  }
  .m-menu-list{
    padding: 10em 20px 20px 20px;
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, .7);
    transform: translateX(100%);
    transition: all .5s;
    z-index: -1;
  }
  .m-nav-open{
    transform: translateX(0);
  }
  .m-li-items1{
    margin-top: 30px;
    font-size: 10px;
    text-transform: uppercase;
  }
  .m-li-items2{
    font-size: 15px;
    font-weight: bold;
  }

  /* section1 */
  .section1-title{

  }


  /* section2 */
  .section2-title-icon{
    width: 30px;
  }
  .section2-title{
    /* font-size: 25px; */
  }
  .section2-stitle{
    font-size: 23px;
  }
  .st2-cont1-logo > img{
    width: 100px;
  }
  .st2-cont1-logo-line{
    margin-left: 0;
    margin-right: 0;
  }
  .st2-cont1-logo-txt{
    width: 100px;
    font-size: 20px;
  }
  .st2-cont2{
    padding: 30px 0;
  }

  /* section3 */
  .section3-title-icon{
    width: 80px;
  }
  .section3-title{
    /* font-size: 25px; */
  }
  .section3-stitle{
    font-size: 23px;
  }
  .st3-cont1-logo > img{
    width: 100px;
  }
  .st3-cont1-logo-line{
    margin-left: 0;
    margin-right: 0;
  }
  .st3-cont1-logo-txt{
    width: 100px;
    font-size: 20px;
  }
  .st3-cont2{
    padding: 30px 0;
  }

  /* section4 */
  .section4-title-icon{
    width: 50px;
  }
  .section4-title{
    /* font-size: 25px; */
  }
  .section4-stitle{
    font-size: 23px;
  }
  .st4-cont1-logo > img{
    width: 100px;
  }
  .st4-cont1-logo-line{
    margin-left: 0;
    margin-right: 0;
  }
  .st4-cont1-logo-txt{
    width: 100px;
    font-size: 20px;
  }
  .st4-cont2{
    padding: 30px 0;
  }

  /* section5 */
  .section5-title-icon{
    width: 55px;
  }
  .section5-title{
    /* font-size: 25px; */
  }
  .section5-stitle{
    font-size: 23px;
  }
  .st5-cont2-img-logo > img{
    width: 100px;
  }
  .st5-cont1-img-txt{
    width: 100px;
    font-size: 20px;
  }
  .st5-cont3{
    padding: 30px 0;
  }

  /* section6 */
  .section6-title-icon{
    /* width: 73px; */
  }
  .section6-title{
    /* font-size: 25px; */
  }
  .section6-stitle{
    font-size: 23px;
  }
  .st6-cont1-logo > img{
    width: 100px;
  }
  .st6-cont1-logo-line{
    margin-left: 0;
    margin-right: 0;
  }
  .st6-cont1-logo-txt{
    width: 100px;
    font-size: 20px;
  }
  .st6-cont2{
    padding: 30px 0;
  }

  /* section7 */
  .section7-title-icon{
    width: 95px;
  }
  .section7-title{
    /* font-size: 25px; */
  }
  .section7-stitle{
    font-size: 23px;
  }
  .st7-cont1-txt{
    padding: 30px 0;
  }

  /* section8 */
  .section8-title-icon{
    width: 65px;
  }
  .section8-title{
    /* font-size: 25px; */
  }
  .section8-stitle{
    font-size: 23px;
  }
  .st8-cont2{
    padding: 30px 0;
  }

  /* section9 */
  .section9-title-icon{
    width: 80px;
  }
  .section9-title{
    /* font-size: 25px; */
  }
  .section9-stitle{
    font-size: 23px;
  }
  .st9-cont1-txt{
    padding: 30px 0;
  }
}
@media screen and (max-width: 950px){
  .nav-logo{
    margin-right: 50px;
  }
  .nav-menu{
    margin-left: 20px;
  }
}
@media screen and (max-width: 769px){
  /* section1 */
  .section1-contents{
    text-align: center;
  }
  .section1-contents > br{
    display: none;
  }
  .st1-cont1-img-txt{
    margin-bottom: 40px;
    position: relative;
  }
  .st1-cont1-imgPc{
    display: none;
  }
  .st1-cont1-imgMobile{
    width: 100%;
    display: block;
  }

}
@media screen and (max-width: 600px){

  /* section9 */
  .st9-cont1-asNum{
    font-size: 25px;
    top: 15px;
    left: 15px;
  }
}
