body{
  margin: 0;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
li{
  list-style: none;
}
a,
a:hover,
a:focus
{
  text-decoration: none;
  color: #000;
}
.section{
  width: 100%;
}

/* section1 */
.section1{
  margin: 30px auto;
  width: 100%;
}
.section1-contents{
  margin: 20px auto;
  width: 100%;
  display: flex;
}
.section1-cont1{
  width: 80%;
  font-size: 20px;
}
.section1-cont1-tsd{
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 2;
}
.section1-cont1-logo{
  width: 20%;
}
.tsd-txt{
  color: #000;
  text-transform: uppercase;
}
.tsd-txt > strong{
  color: #ff5100;
}
.tsd-unline{
  margin: 0 5px;
  width: 30px;
  height: 1px;
  background: #000;
}
.section1-cont1-txt{
  width: 100%;
  color: #000;
}

/* section2 */
.section2{
  margin: 30px auto;
  width: 100%;
}
.section2-title{
  margin: 50px 0;
  padding-top: 20px;
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.section2-title-topline{
  margin: 0 auto;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #8d8d8d;
}
.section2-title > span{
  color: #ff5100;
}
.section2-contents{
  margin: 30px 0;
  width: 100%;
}
  /* section2-cont1 */
.section2-cont1{
  margin: 30px 0;
  width: 100%;
  display: flex;
  float: left;
}
.section2-cont1-txt{
  width: 60%;
}
.section2-cont1-txt > h2{
  font-weight: bold;
}
.section2-cont1-stxt{
  margin: 15px 0;
  font-size: 25px;
  font-weight: 500;
}
.section2-cont1-ul{
  width: 100%;
  font-size: 20px;
}
.section2-cont1-ul > ul{
  padding-left: 25px;
}
.section2-cont1-ul > ul li{
  list-style: disc;
}
.section2-cont1-ul > ul li::marker{
  color: #ff5100;
}
.section2-cont1-img{
  width: 40%;
}
.section2-cont1-img > img{
  width: 100%;
}
  /* section2-cont2 */
.section2-cont2{
  margin: 30px 0;
  width: 100%;
  display: flex;
  float: left;
}
.section2-cont2-txt{
  padding-left: 30px;
  width: 60%;
}
.section2-cont2-txt > h2{
  font-weight: bold;
}
.section2-cont2-stxt{
  margin: 15px 0;
  font-size: 25px;
  font-weight: 500;
}
.section2-cont2-ul{
  width: 100%;
  font-size: 20px;
}
.section2-cont2-ul > ul{
  padding-left: 25px;
}
.section2-cont2-ul > ul li{
  list-style: disc;
}
.section2-cont2-ul > ul li::marker{
  color: #ff5100;
}
.section2-cont2-img{
  width: 40%;
}
.section2-cont2-img > img{
  width: 100%;
}
/* section2-cont3 */
.section2-cont3{
margin: 30px 0;
width: 100%;
display: flex;
float: left;
}
.section2-cont3-txt{
width: 60%;
}
.section2-cont3-txt > h2{
font-weight: bold;
}
.section2-cont3-stxt{
margin: 15px 0;
font-size: 25px;
font-weight: 500;
}
.section2-cont3-ul{
width: 100%;
font-size: 20px;
}
.section2-cont3-ul > ul{
padding-left: 25px;
}
.section2-cont3-ul > ul li{
list-style: disc;
}
.section2-cont3-ul > ul li::marker{
color: #ff5100;
}
.section2-cont3-img{
width: 40%;
}
.section2-cont3-img > img{
width: 100%;
}

/* section3 */
.section3{
  margin: 30px auto;
  width: 100%;
}
.part3-page{
  padding: 20px 15px;
  width: 100%;
  height: 710px;
  vertical-align: middle;
  background-image: url('../../images/sub02/sub02-bg2.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: all .77s;
  position: relative;
}
.section3-title{
  margin: 30px 0;
  padding-top: 20px;
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.section3-title-topline{
  margin: 0 auto;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #8d8d8d;
}
.section3-contents{
  margin: auto;
  width: 1280px;
  height: 410px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section3-cont1-title{
  margin-bottom: 30px;
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: bold;
}
.section3-cont1-stitle{
  margin-bottom: 30px;
  width: 100%;
  color: #000;
  font-size: 25px;
  font-weight: 500;
}
.section3-cont1-txt{
  width: 100%;
  color: #000;
  font-size: 25px;
  font-weight: 500;
}

/* section4 */
.section4{
  margin: 30px auto;
  width: 100%;
}
.section4-contents{
  margin: 30px 0;
  width: 100%;
}
.section4-title{
  margin: 20px 0;
  padding-top: 20px;
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.section4-title-topline{
  margin: 0 auto;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #8d8d8d;
}
.section4-title > span{
  color: #ff5100;
}
.section4-title > span:nth-child(3){
  color: #faaf3b;
}
.section4-stitle{
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section4-cont1{
  width: 100%;
}
.section4-cont1-title{
  margin: 30px 0;
  color: #000;
  font-size: 22px;
  text-align: center;
}
.section4-cont1-txt{
  margin: 30px auto;
  width: 920px;
  color: #000;
  font-size: 20px;
}
.st4-cont1-txt-item{
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
.st4-cont1-numseq{
  margin-right: 10px;
  padding: 1px 11px;
  color: #000;
  border: 3px solid #faaf3b;
  border-radius: 10px;
  font-size: 25px;
}

/* section5 */
.section5{
  margin: 30px auto;
  width: 100%;
}
.section5-contents{
  margin: 60px auto;
  width: 1100px;
  height: 1200px;
  position: relative;
}
.section5-title{
  margin: 20px 0;
  padding-top: 20px;
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.section5-title-topline{
  margin: 0 auto;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #8d8d8d;
}
.loadmap-line{
  width: 5px;
  height: 100%;
  background: #ccc;
  position: absolute;
  top: 0;
  left: 100px;
}
.loadmap-point1,
.loadmap-point2,
.loadmap-point3,
.loadmap-point4,
.loadmap-point5,
.loadmap-point6,
.loadmap-point7
{
  width: 100%;
  position: absolute;
  display: flex;
  color: #000;
  font-size: 20px;
  align-items: center;
}
.point-date{
  margin-right: 23px;
  font-size: 30px;
}
.point-pointer{
  width: 25px;
  height: 25px;
  background: #fff;
  border: 4px solid #ff5100;
  border-radius: 15px;
}
.point-line{
  margin-left: 15px;
  width: 400px;
  border-bottom: 4px dotted #ccc;
}
.point-txt{
  margin-left: 20px;
}
.point-txt > ul {
  padding: 0;
}
.loadmap-point1{
  top: 2%;
}
.loadmap-point2{
  top: 14%;
}
.loadmap-point3{
  top: 30%;
}
.loadmap-point4{
  top: 42%;
}
.loadmap-point5{
  top: 60%;
}
.loadmap-point6{
  top: 72%;
}
.loadmap-point7{
  top: 90%;
}

/* section6 */
.section6{
  margin: 30px auto;
  width: 100%;
}
.section6-contents{
  margin: 30px auto;
  width: 100%;
  position: relative;
}
.section6-title{
  margin: 20px 0;
  padding-top: 20px;
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.section6-title-topline{
  margin: 0 auto;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #8d8d8d;
}
.section6-item{
  margin-top: -5px;
  width: 100%;
  display: flex;
  font-size: 20px;
  align-items: center;
  position: relative;
}
.section6-item:first-child .st6-unline,
.section6-item:nth-child(2) .st6-unline,
.section6-item:nth-child(3) .st6-unline,
.section6-item:nth-child(4) .st6-unline
{
  margin: 0 auto;
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.section6-item:first-child .st6-unline{
  border-bottom-left-radius: 20px;
  border-bottom: 3px solid #ef5e22;
}
.section6-item:nth-child(2) .st6-unline{
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid #faaf3b;
}
.section6-item:nth-child(3) .st6-unline{
  border-bottom-left-radius: 20px;
  border-bottom: 3px solid #ef5e22;
}
.section6-item:nth-child(4) .st6-unline{
  width: 90%;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid #faaf3b;
  right: auto;
}
.st6-seq1,
.st6-seq2
{
  padding: 20px 45px;
  width: 18%;
  color: #fff;
  text-align: center;
  border-radius: 20px;
}
.st6-seq1{
  background: #ef5e22;
}
.st6-seq2{
  background: #faaf3b;
}

.st6-seq2-Mobile{
  display: none;
}
.st6-seq2-Pc{
  display: block;
}
.st6-seq1 > img,
.st6-seq2 > img {
  margin-bottom: 15px;
  width: 82px;
  opacity: .6;
}
.section6-item:nth-child(2) > .st6-seq2 > img{
  padding: 10px 0;
}
.section6-item:nth-child(4) > .st6-seq2 > img{
  padding: 20px 0;
}
.st6-txt{
  font-size: 25px;
  font-weight: 600;
}
.st6-cont{
  width: 82%;
  color: #000;
}
.st6-cont > ul{
  padding:0 20px;
}

/* section7 */
.section7{
  margin: 30px auto;
  width: 100%;
}
.section7-contents{
  margin: 30px auto;
  width: 100%;
  position: relative;
}
.section7-title{
  margin: 20px 0;
  padding-top: 20px;
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.section7-title-topline{
  margin: 0 auto;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #8d8d8d;
}
/* section7-cont1 */
.section7-cont1{
  margin: 30px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
}
.section7-cont1-title{
  margin-bottom: 10px;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
}
.section7-cont1-txt{
  width: 100%;
}
.section7-cont1-txt > span:nth-child(3){
  color: #00adee;
  font-size: 25px;
}
.section7-cont1-txt > span:nth-child(4){
  color: #007ec0;
  font-size: 25px;
}
/* section7-cont2 */
.section7-cont2{
  margin: 30px auto;
  width: 100%;
  color: #000;
  font-size: 20px;
  position: relative;
}
.st7-cont2-pt1{
  margin-bottom: 110px;
  width: 100%;
}
.st7-pt1-title{
  font-size: 25px;
  font-weight: 600;
}
.st7-pt1-txt > ul > li{
  list-style: disc;
}
.st7-pt1-txt > ul > li::marker{
  color: #ef5e22;
}
.section7-cont2 > img{
  width: auto;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.st7-cont2-pt2{
  margin-bottom: 130px;
  width: 100%;
}
.st7-pt2-title{
  margin-bottom: 20px;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
}
.st7-pt2-txt{
  width: 100%;
}
.st7-pt2-txt > div{
  width: 100%;
  display: flex;
}
.st7-cont2-btTxt{
  padding: 0 155px;
  width: 100%;
  text-align: right;
}
.st7-pt2-item-txt1{
  width: 140px;
}
.st7-pt2-item-txt2 > span {
  color: #ff0000;
}
.st7-pt2-item-line{
  margin: 5px 20px;
  width: 2px;
  background: #dfdfdf;
}
.st7-pt2-txt > .st7-pt2-item:nth-child(3) > .st7-pt2-item-line{
  height: 18px;
}
.st7-pt2-item-txt2{
  width: 225px;
}
/* section7-cont3 */
.section7-cont3{
  margin: 30px auto;
  width: 100%;
  color: #000;
}
.section2-cont1-Mobile{
  display: none;
}
.section7-cont3-title{
  margin-bottom: 30px;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
}
.section7-cont3-part3{
  width: 100%;
  display: flex;
}
.section7-cont3-txt{
  width: 100%;
  display: flex;
  align-items: center;
}
.section7-cont3-item{
  padding: 10px 35px;
  width: 50%;
  text-align: center;
  border-right: 2px solid #dfdfdf;
}
.section7-cont3-item-title{
  width: 100%;
  color: #007ec0;
  font-size: 30px;
  font-weight: 500;
}
.section7-cont3-txt:nth-child(2) > .section7-cont3-item:nth-child(2) > .section7-cont3-item-title{
  text-align: left;
  color: #000;
  font-size: 20px;
}
.section7-cont3-item-stitle{
  width: 100%;
  font-size: 20px;
}


/* footer */
.Footer, .Footer > .fp-tableCell {
    padding: 25px 0;
    height: auto !important;
    background: #e5e5e5;
}

@media screen and (max-width: 1024px){
  /* section3 */
  .section3-contents{
    padding: 0 15px;
    width: 100%;
  }

  /* section4 */
  .section4-cont1-txt{
    width: 100%;
  }
  .st4-cont1-txt-item{
    align-items: flex-start;
  }

  /* section5 */
  .section5-contents{
    width: 100%;
  }
  .point-line{
    width: 245px;
  }

  /* section6 */
  .st6-seq1, .st6-seq2{
    padding: 15px 5px;
  }
  .st6-seq1 > img, .st6-seq2 > img{
    width: 62px;
  }
  .st6-txt{
    font-size: 20px;
  }
  .st6-cont{
    font-size: 15px;
  }
}
@media screen and (max-width: 950px){
  /* section7 */
    /* section2-cont2 */
  .st7-cont2-pt1{
    margin-bottom: 170px;
  }
  .st7-cont2-pt2{
    margin-bottom: 60px;
  }
  .st7-cont2-btTxt{
    padding: 0 100px;
  }
    /* section2-cont3 */
  .section7-cont3-part3{
    display: block;
  }
  .section7-cont3-item:nth-child(2n){
    border-right: none;
  }
}
@media screen and (max-width: 769px){
}
@media screen and (max-width: 600px){
    /* section1 */
  .section1-cont1-logo{
    display: none;
  }

  /* section2 */
  .section3-contents{
    width: 100%;
  }
  .section2-cont1,
  .section2-cont2,
  .section2-cont3
  {
    display: block;
  }
  .section2-cont1-Pc{
    display: none;
  }
  .section2-cont1-Mobile{
    display: block;
  }
  .section2-cont1-img,
  .section2-cont2-img,
  .section2-cont3-img
  {
    width: 100%;
  }
  .section2-cont1-txt,
  .section2-cont2-txt,
  .section2-cont3-txt
  {
    width: 100%;
  }
  .section2-cont1-txt > h2,
  .section2-cont2-txt > h2,
  .section2-cont3-txt > h2
  {
    font-size: 25px;
  }
  .section2-cont1-stxt,
  .section2-cont2-stxt,
  .section2-cont3-stxt
  {
    font-size: 20px;
  }
  .section2-cont1-ul,
  .section2-cont2-ul,
  .section2-cont3-ul
  {
    font-size: 17px;
  }
  .section2-cont2-txt{
    padding: 0;
  }

  /* section3 */
  .part3-page{
    padding: 20px 0;
    height: auto;
    background-position: left;
  }
  .section3-contents{
    padding: 15px;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .section3-cont1-title{
    font-size: 25px;
  }
  .section3-cont1-stitle{
    font-size: 20px;
  }
  .section3-cont1-txt{
    font-size: 15px;
  }
  .section3-cont1-stitle > br,
  .section3-cont1-txt > br{
    display: none;
  }

  /* section4 */
  .section4-stitle{
    font-size: 15px;
  }
  .section4-cont1-title{
    font-size: 17px;
  }
  .section4-cont1-txt{
    width: 100%;
    font-size: 15px;
  }
  .st4-cont1-txt-item{
    align-items: flex-start;
  }
  .st4-cont1-numseq{
    font-size: 20px;
  }

  /* section5 */
  .section5-contents{
    margin: 30px auto;
    width: 100%;
    height: auto;
  }
  .loadmap-line{
    display: none;
  }
  .point-date{
    font-size: 25px;
  }
  .point-line,
  .point-pointer{
    display: none;
  }
  .loadmap-point1, .loadmap-point2, .loadmap-point3, .loadmap-point4, .loadmap-point5, .loadmap-point6, .loadmap-point7{
    margin-bottom: 30px;
    display: block;
    font-size: 15px;
    position: relative;
    top: 0;
  }
  .point-txt{
    margin: 0;
  }

  /* section6 */
  .section6-item{
    margin-bottom: 50px;
    display: block;
    font-size: 15px;
  }
  .st6-seq1,
  .st6-seq2
  {
    margin: 15px auto;
    width: 35%;
    /* margin-bottom: 15px;
    width: 100%; */
  }
  .st6-seq2-Mobile{
    display: block;
  }
  .st6-seq2-Pc{
    display: none;
  }
  .st6-cont{
    width: 100%;
  }
  .st6-cont > ul{
    padding: 0 10px;
  }
  .st6-unline{
    display: none;
  }
  .st6-txt{
    font-size: 20px;
  }

  /* section7 */

    /* section7-cont1 */
  .section7-cont1{
    font-size: 15px;
  }
  .section7-cont1-title{
    font-size: 20px;
    text-align: center;
  }
  .section7-cont1-txt > br{
    display: none;
  }
  .section7-cont1-txt > span:nth-child(3),
  .section7-cont1-txt > span:nth-child(4){
    font-size: 20px;
  }
    /* section7-cont2 */
  .section7-cont2{
    font-size: 15px;
  }
  .st7-cont2-pt1{
    margin-bottom: 50px;
    text-align: center;
  }
  .st7-pt1-title{
    font-size: 20px;
  }
  .st7-pt1-txt > ul{
    padding: 0;
  }
  .st7-pt1-txt > ul > li{
    list-style: none;
  }
  .st7-cont2-pt2{
    margin-bottom: 50px;
    text-align: center;
  }
  .st7-pt2-title{
    font-weight: bold;
    font-size: 20px;
  }
  .st7-pt2-txt > div{
    margin-bottom: 20px;
    display: block;
  }
  .st7-pt2-item-txt1{
    width: 100%;
    font-weight: bold;
  }
  .st7-pt2-item-line{
    display: none;
  }
  .st7-pt2-item-txt2{
    width: 100%;
    font-weight: 300;
  }
  .section7-cont2 > img{
    display: none;
  }
  .st7-cont2-btTxt{
    display: none;
  }
    /* section7-cont3 */
  .section7-cont3-title{
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
  }
  .section7-cont3-txt{
    display: block;
  }
  .section7-cont3-item{
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #dfdfdf;
  }
  .section7-cont3-item-title{
    font-size: 20px;
  }
  .section7-cont3-item-stitle{
    font-size: 15px;
  }
  .section7-cont3-item:nth-child(4){
    border-bottom: none;
  }
  .section7-cont3-item:nth-child(4) > .section7-cont3-item-title{
    font-size: 13px;
    text-align: center;
  }
  .section7-cont3-item:nth-child(4) > .section7-cont3-item-title > br{
    display: none;
  }
}
