/* login */
#sub_content {
  width: 100%;
  min-width: 1200px;
  float: left;
}
.cont01 {
  width: 1200px;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}
.login-title{
  margin: 30px 0;
  border-bottom: 1px solid #e2e2e2;
}
.login-cont1-txt > .form-control {
  height: 60px;
}
.login-cont1 {
  margin: 30px 0 60px 0;
  width: 39%;
  position: relative;
  float: left;
}
.login-cont1-form {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.login-cont1-txt {
  width:75%;
}
.login-cont1-btn {
  width:20%;
}
.login-cont1-btn > input {
  margin: 0 10px;
  padding: 47px 25px;
  font-size: 20px;
  background: #438729;
  border-color: #438729;
}
.login-cont1-btn > input:hover {
  background: #30611e;
  border-color: #30611e;
}
.login-cont1-btn > input:focus {
  background: #30611e;
  border-color: #30611e;
}

.login-cont2 {
  margin: 0 60px 60px;
  width:40%;
  float: left;
  position: relative;
}
.cont2-1 {
  width: 47%;
  float: left;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
}
.cont2-1 > div:first-child {
  padding: 10px 10px 0;
  font-size: 2rem;
}
.cont2-1 > div:nth-child(2) {
  padding: 10px;
}
.cont2-1:hover {
  background: #525252;
}
.cont2-1:hover > div:first-child > i {
  color: #fff;
}
.cont2-1:hover > div:nth-child(2){
  color: #fff;
}

/* 회원가입 */
.sub100-tb > tbody > tr > th {
  padding: 15px;
  text-align: center;
}
.sub100-tb-online {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


/* 주문 정보 테이블 */
.sub_content .apply_table table th {padding: 20px}