.visual-item {background: #26952C;}
.innerWrap {width: 1200px;margin: 0 auto;position: relative;}

.mb700 {display: none;}
.mbtb700 {display: none;}

/* section1 */
.section1 {width:100%;float:left;}
.service-title {color:#436EDA;}
.service-subject h4 {border-bottom:10px solid #5C85E0;}


.thumb_img , .thumb_img img {width:250px;height:188px;}

.thumb_img img {padding:10px;border:1px solid #ddd;}

.service_wrap {width:1200px;}
.service_wrap .service-subject {width:41%;}
.line-dash {border-bottom:1px dashed #ddd;}
.service-content {width:78%}

@media screen and (min-width:2500px) { 
 .visual-icon-Menu {display:none;}
}

@media screen and (max-width:1200px) {
  .vs-img {width: 100%;background-size: cover;height: 354px;}
  .innerWrap {width:100%;padding:0 15px;}
}
@media screen and (max-width:999px) {
  .service_wrap {width:100%; margin-bottom:30px; }
  .service_wrap .service-subject {width:100%;}
  .service_img	img, .service-content  {width:100%}
  .subVisual {padding: 50px 0 0 0;}
  .vs-img {height: 200px;}
  .section1-cont2 {margin-top:20px;}

  .spn-cont1{top:0;}
  .spn-cont2 {margin-top:20px;}
}
@media screen and (max-width:700px) {

  .section1-cont1 {margin: 0;}
  .section1-cont1 > img {height: 190px;}
  .vs-img {height: 120px;}
  .spn-cont1{padding: 5px 20px;z-index: 1;}
  .spn-cont1 > p {white-space: normal;}
}

@media screen and (max-width:500px) {
.thumb_img , .thumb_img img {width:100%;height:auto;}

}



/* section2 */
.section2 {width:100%;float:left;}
.section2-cont1 {width:100%;}
.section2-stitle {position: relative;}
.section2-stitle h3 {margin:20px 0;color: #000;}
.section2-cont2 {width:100%;}
.section2-cont2 > .all-unstyled {padding: 20px 15px;border: 1px solid #ddd;line-height: 25px;box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);}
.section2-cont2 > .all-unstyled > .ul-li-black {list-style-type: disc;}
.section2-cont3 {width:100%;}



@media screen and (max-width:999px) {
}
@media screen and (max-width:700px) {
  .section2 {margin-bottom: 20px;}
  .section2-cont1 > .table-bordered > tbody > tr > td:first-child {text-align: center;}
  .section2-cont3 > button {width: 100%;}


}