/*------------------------------------------------------
· Main Contents Style
------------------------------------------------------ */

/* 메인페이지 인트로 */
.mainIntro {
	margin: 0 auto;
	width:100%;
	min-width:1200px;
}
#visual_intro {width:1200px;margin:0 auto;}

.inline-YTPlayer {
	width: 100%;
	min-width:1200px;
	height: 80vh;
	min-height:800px;
	z-index:1;
}
.mainback_video {
	padding-bottom: 0 !important;
	width: 100%;
	min-width:1200px;
	height: 80vh !important;
	min-height:800px;
	position: relative;
	pointer-events: none;
	z-index:1;
}
.main-sample-bg {
	background: url('/images/sample_main_img.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.intro-bg {
	margin: 0 auto;
	padding: 0 20px;
	width: 1200px;
	z-index:10000;
}
.intro-txt1 {
	margin-left: 100px;
	padding-top: 22%;
	width: 100%;
  grid-row: auto;
	color: #fff;
	position: relative;
}
.intro-txt1 > img {
	width: 65px;
	left: -30px;
	bottom: 40px;
	position: absolute;
}
.intro-txt1-main-title{
	
	font-size: 2.5em;
	font-weight: 300;
	line-height: 50px;
}
.small-line{
	margin-top: 3%;
	margin-left: 100px;
	width: 300px;
	border: 1px solid #fff;
}
.intro-txt2 {
	margin-left: 100px;
	padding-top: 3%;
	width: 100%;
  grid-row: auto;
	color: #fff;
}
.intro-txt2 > div{
	font-size: 1.5em;
	font-weight: 300;
}
.intro-cont{
	padding-top: 4%;
	width: 100%;
  grid-row: auto;
}
.intro-btn {
	padding: 45px 35px;
	width: 35%;
	display: flex;
	background: rgba(48,97,30,.95);
	border-radius: 30px;
	box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 70%);
}
.intro-btn > img{
	width: 160px;
	height:124px;
	opacity: .4;
}
.intro-btn-txt{
	margin-left: 45px;
	color: #fff;
	font-size: 1.6em;
  text-align: center;
}

body {background-color: #6d6e71;}
