.visual-item {background: #449cb7;}
.innerWrap {width: 1200px;margin: 0 auto;position: relative;}

.inline-block {display: inline-block;}

/* section1 */
.section1 {width:100%;float:left;}
.section1-title {margin-top: 60px;width: 100%;}
.section1-stitle {margin:40px auto;position: relative;}
.section1-stitle > h3 {color: #000;}

/* 개인정보 동의 폼 */
.spn-application {margin: 0 0 20px;padding: 20px;width:100%;border: 1px solid #ddd;}
.spn-application-title {margin-bottom: 20px;width: 100%;}
.spn-application-title > h3 {color: #000;}
.spn-application-stitle {margin-bottom: 10px;}
.spn-application > p {margin: 0 0 20px;line-height: 25px;}
.spn-application-chkbox {width:100%;text-align: right;color: #000;}

.spn-apptn-tb > table > tbody > tr th {height: 60px;text-align: center;}
.addr2-ul > li input {width:50px;}
#cms {margin-top: 10px;width: 100%;float: left;}
#cms > .all-unstyled {margin: 10px 0;}
#cms > .all-unstyled > li:first-child {margin: 10px 0;}


/* section2 */
.section2 {width:100%;float:left;}
.section2-cont1 {width:100%;}
.section2-stitle {position: relative;}
.section2-stitle h3 {margin:20px 0;color: #000;}
.section2-cont2 {width:100%;}
.section2-cont2 > .all-unstyled {padding: 20px 15px;border: 1px solid #ddd;line-height: 25px;box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);}
.section2-cont2 > .all-unstyled > .ul-li-black {list-style-type: disc;}
.section2-cont3 {width:100%;}



/* section3 */
.section3 {width:100%;float:left;}
.section3-stitle {position: relative;}
.section3-stitle h3 {margin:20px 0;color: #000;}
.section3-cont1 {width:100%;}
.section3-cont2 {width:100%;}
.section3-cont3 {width:100%;}



/* 기관 내방 */
#table03{}
.tb03-cont1 {width: 100%;}
.tb03-cont1 > input {width:40%;display: inline-block;}
.tb03-cont1 > p {margin: 0;font-size: 14px;font-weight: 500;}
.tb03-cont4 {width: 100%;display: flex;}
.tb03-cont4 > input:nth-child(2) {display: none;}
.tb03-cont4 > select {display: block;}

@media screen and (max-width:700px) {
  .tb03-cont4 > input:nth-child(2) {display: block;}
  .tb03-cont4 > select {display: none;}
}
