th, td {
  padding: 10px;
  color: #000;
  text-align: center;
}
th{font-weight: 500;}
td{font-weight: 300;}

/* section0 */
.section0 {width: 100%;min-width:1200px;float: left;}
.section0-title {
  padding-top: 10px;
  background: url('/images/maintitle-txt.png') no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 20px;
}
.section0-stitle > h3 {color: #000;}
.section0-cont1 {width: 100%;}
.section0-cont1 > span {color:green;}
.section0-cont2 {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(1, 300px);
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
  -ms-grid-row: 1;
}
.section0-cont2 > img {margin: 10px 0 0;width: 300px;}
.section0-cont2-txt1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 140px 70px 90px;
  -ms-grid-columns: 1fr;
  grid-template-rows: 140px 70px 90px;
  text-align: center;
  border-right: 3px dotted rgba(99,138,85,.5);
}
.section0-cont2-txt1:first-child{
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.section0-cont2-txt1:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.section0-cont2-txt1:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.section0-cont2-txt1:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  border:none;
}
.section0-cont2-txt1 > img {
  margin: 0 auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row-align: end;
  align-self: end;
}
.section0-cont2-txt1 > h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-row-align: normal;
  align-self: normal;
  color: #000;
}
.section0-cont2-txt1 > p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  white-space: pre-line;
  color: #414042;
}
/* section1 */
.section1 {width:100%;min-width:1200px;float: left;}
.section1-cont {width: 100%;}
.section1-title {
  margin-top: 60px;
  width: 100%;
}
/* section2 */
.section2 {width:100%;min-width:1200px;float: left;}
.section2-cont {width: 100%;}

/* 온라인 문의 */
.online-tb > tbody > tr > th, .online-tb > tbody > tr > td{
  border: 1px solid rgba(0,0,0,0.3);
}
.online-tb > tbody > tr > th {
  background: #cfe5ae;
}
.online-input{
  padding: 10px 5px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}
.oline-cell-input{
  padding: 10px 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}
.online-txt{
  padding: 10px 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  resize: none;
}
.online-canc-btn{
  margin: 0 10px;
  padding: 20px 15px;
  width: 160px;
  color: #000;
  background: #fff;
  border:1px solid #000;
}
.online-succ-btn{
  margin: 0 10px;
  padding: 20px 15px;
  width: 160px;
  color: #fff;
  background: #39b54a;
  border:1px solid #39b54a;
}

.sub03-bolt-title{
  margin: 20px 0 60px;
  line-height: 30px;
}
.sub03bg-txt > h1, .sub03bg-txt > h2{
  -ms-grid-column:1;
  margin: 0;
  padding: 0 15px;
  background:url('/images/sub03/sub03-txt-bg.png') no-repeat;
}
.sub03bg-txt > h2 > span {
	color: #2f631c;
}
.sub04-cont{
	margin:0 auto;
	width: 100%;
}
.sub04-cont-01{
	width: 100%;
	height: auto;
}

/* ie */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .online-tb > tbody > tr > th{
    width: 175px;
  }
}
