.blackLayer {display:none;position:fixed;z-index:10000;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:0.7;}
body.freeze {overflow-y:hidden;}
.wrapper {margin:0 auto; width:100%;}
a{text-decoration: none!important;}
.pc1280 {display: block;}
.mb990 {display: none;}

.innerWrap, .section1 .innerWrap {width:1200px;max-width:1280px;height:100%;margin:0 auto;}
.section1-title > h1 {color: #000;}

.table > thead > tr > th {vertical-align: middle !important;}
.table > thead > tr > th {font-weight: normal;color: #000;}
.table > tbody > tr > th {font-weight: normal;background-color: #eee !important;color: #000;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td  {padding:5px 10px !important;}

.top-login {background:linear-gradient(90deg, #A5C9EF, #2048a6);}

.login-main {
	/* padding:0 20px 3px; */
	padding: 5px 20px;
}
.navContainer .login-main  span  a, .navContainer .login-main  span  a:link, .navContainer .login-main  span  a:visited {color:#FFF;}
.navContainer .login-main  span  a:hover, .navContainer .login-main  span  a:active {color:#FFF;font-weight:500;}

/* 메인 페이지 로그인 메뉴 스타일 시작 */
.maintopmenu-span {margin:0 5px;padding: 3px 10px;border: 1px solid #fff;border-radius: 20px;font-size:13px;transition: all .3s;}
.maintopmenu-span:hover {background: #fff;}
.maintopmenu-span:hover > a {color: #2048a6 !important;}
.maintopmenu-span > a {color: #fff !important;}
.maintopmenu-span > a > i {margin-right: 5px;}
/* 끝 */

@media screen and (max-width:990px) {
	.pc1280 {display: none;}
	.mb990 {display: block;}
}


/*------------------------------------------------------
· Nav Style
------------------------------------------------------ */
.navContainer {position:fixed;z-index:10001;left:0;right:0;top:0;margin: 0 auto;width:100%;height:auto;transition: all .3s;background-color: #fff;}
.nav-menu-open {width: 100%;height: 300px;background: #fff;position: absolute;top: -187px;z-index: -1;transition: all .3s;}

.r-tabMenu-icon {border: 1px solid #d3e3e7;padding:25px 0 28px 0;margin: 10px 0;position: fixed;z-index: 1;right: -8%;top: 30%;width: 100%;max-width: 40px;text-align: center;background: #1b87db;cursor: pointer;transition: all .3s;}
.r-tabMenu-icon > a {color: #fff;font-size: 25px;}
.r-tabMenu {position: fixed;z-index: 10002;right: 15px;top: 18%;width: 100%;max-width: 150px;transition: all .3s;font-size: 1rem;}
.r-sub-tabMenu {width: 100%;border: 1px solid #d3e3e7;border-radius: 30px;padding: 10px 0 10px ;margin: 5px 0;background: #fff;cursor: pointer;font-weight:500;text-align:center;}
.r-sub-tabMenu-start {width: 100%;border: 1px solid #d3e3e7;border-radius: 30px;padding: 15px;margin: 10px 0;background: #1b87db;color: #fff;font-size: 1.2rem;font-weight:500;}
.r-sub-tabMenu-end {width: 100%;border: 1px solid #d3e3e7;border-radius: 30px;padding: 5px 0 8px 0 ;margin: 5px 0;background: #525252;}
.r-sub-tabMenu:hover {background: #525252;}
.r-sub-tabMenu:hover a{color:#fff;}

@media screen and (max-width:1200px) {
	.r-tabMenu {display: none;}
	.innerWrap {padding:0 20px;width: 100% !important;}
}
@media screen and (max-width:999px) {
	.navContainer {height:50px;}
	.nav-menu-open {height: 50px;}
}

/* 마우스 스크롤 아이콘 */
.mouse-scroll {margin: 0 auto;margin-top: 11px;width: 38px;height: 64px;position: absolute;left: 0;right: 0;bottom: 5%;transition: all .3s;}
.m-scrl {width:100%;height: 60px;border: 5px solid rgba(255,255,255,1);border-radius: 20px;}
.m-scrl > div {margin: 20% auto;width: 5px;height: 15px;top:0;background: rgba(255,255,255,1);position: relative;border-radius: 10px;}
.mouse-scroll::after {content: "\f103";font: normal normal normal 14px/1 FontAwesome;top:0;font-size: 30px;color: rgba(255,255,255,1);position: relative;animation-name: move;animation-duration: .5s;animation-iteration-count: 9999;animation-direction: alternate;}
.mouse-scroll::after {-webkit-animation-name: move;-webkit-animation-duration: .5s;-webkit-animation-iteration-count: 9999;-webkit-animation-direction: alternate;
	-moz-animation-name: move;-moz-animation-duration: .5s;-moz-animation-iteration-count: 9999;-moz-animation-direction: alternate;
	-ms-animation-name: move;-ms-animation-duration: .5s;-ms-animation-iteration-count: 9999;-ms-animation-direction: alternate;
	-o-animation-name: move;-o-animation-duration: .5s;-o-animation-iteration-count: 9999;-o-animation-direction: alternate;}

@keyframes move {
	0% {top:0;}
	100% {top:5px}
}
@-webkit keyframes scroll {
	0% {top:0;}
	100% {top:5px}
}
@-moz keyframes scroll {
	0% {top:0;}
	100% {top:5px}
}
@-ms keyframes scroll {
	0% {top:0;}
	100% {top:5px}
}
@-o keyframes scroll {
	0% {top:0;}
	100% {top:5px}
}
/* 끝 */

.allMenuWrap {display:flex;justify-content:flex-end;align-items:flex-start;position:relative;width:1200px;margin:0 auto;padding:0 10px ;transition:all 0.5s;}
.allMenuWrap .logo {position:absolute;left:0;top:0;}
.allMenuWrap .main > li {float:left;margin-left:4em;}
.allMenuWrap .main > li > a {display:block;height:100%;font-size:25px;}
.allMenuWrap .main a {transition:0.3s;}

.allMenuWrap .sub {position:absolute;padding-top:1em;background: #fff;}
.allMenuWrap .sub:before {content:"";position:absolute;top:1em;left:-0.8em;bottom:0;border-left:5px solid #43b9ea;}
.allMenuWrap .sub li {height:0;line-height:35px;text-align:left;transition:all 0.3s;overflow:hidden;}
.allMenuWrap .sub a {font-size:17px;}
.allMenuWrap .main > li:hover .sub li {height:30px;}
.allMenuWrap .sub li:focus {height:30px;}
.allMenuWrap .sub .fa {display:none;}
.navContainer .subMenuWrap  a,a:link, a:visited {color:#444;text-decoration:none;}
.navContainer .subMenuWrap a:hover, a:active {color:#444;text-decoration:none;font-weight:500}

/* .allMenuWrap .main > li a:focus .sub li {height:0;} */
/* .allMenuWrap .sub2 {position:absolute;padding-top:1em;background: #fff;}
.allMenuWrap .sub2:before {content:"";position:absolute;top:1em;left:-0.8em;bottom:0;border-left:2px solid #43b9ea;}
.allMenuWrap .sub2 li {height:0;line-height:30px;text-align:left;transition:all 0.3s;overflow:hidden;}
.allMenuWrap .sub2 a {font-size:14px;}
.allMenuWrap .main > li:hover .sub2 li {height:30px;} */

.subMenuWrap {display:flex;justify-content:flex-end;align-items:flex-start;position:relative;width:1200px;margin:0 auto;padding:0 10px ;transition:all 0.5s;}
.subMenuWrap .main:first-child {margin:0;top:10px;left: 0;position: absolute;}
.subMenuWrap .main:nth-child(2) {margin:0;position: relative;;}
.subMenuWrap .main:first-child span {margin: 0;}
.subMenuWrap .main:first-child span > a {padding: 0 15px;margin: 0;color: #ddd;}
.subMenuWrap .main > span {float:left;margin-left:0.5em;}
.subMenuWrap .main > span:first-child {margin-left:0;}
.subMenuWrap .main > span > a {display:block;height:100%;}

@media screen and (max-width:999px) {
	.mouse-scroll {display: none;}
	.subMenuWrap {display: none;}
	.allMenuWrap .logo {padding: 0;width: 100%;position: relative;top:0;}
	.allMenuWrap {display:block;position:fixed;left:auto;top:50px;bottom:0;right:-999px;width:260px;height:auto !important;padding:0;text-align:left;background-color:#fff;border-left:1px solid #ccc;}
	.allMenuWrap.open {/*right:-550px;*/right:-30%;}
	.select_01:first-child {margin-left:0;}
	.allMenuWrap .main {position:static;width:100%;margin:0;border-top:1px solid #ccc;}
	.allMenuWrap .main a:hover {color:#000;}
	.allMenuWrap .main > li {float:none;width:100%;height:auto;margin:0;padding:5px 0;padding-left:20px;font-size:14px;border:none;border-bottom:1px solid #ccc;}
	.allMenuWrap > .main > li > a {font-size: 17px; font-weight:500;}
	.allMenuWrap .main > li:hover {border-bottom:1px solid #ccc;}
	.allMenuWrap .main > li:hover .sub li {height:36px;}
	.allMenuWrap .sub {display:none;position:static;margin:0;padding:3px 0 !important;}
	.allMenuWrap .sub:before {display:none;}
	.allMenuWrap .sub a {font-size: 15px;}
	.allMenuWrap .sub li {height:36px;text-align:left;}
	.allMenuWrap .sub li a {padding-left:20px;color:#555;border-top:1px solid #ddd;}
	.allMenuWrap .sub .fa {display:inline-block;}
	.allMenuWrap .main li a {display:block;position:relative;width:100%;height:36px;padding-right:20px;line-height:36px;}
	.allMenuWrap .main li a:visited {color:#333 !important;}
	.allMenuWrap .main li a:after {content:"\f105";float:right;font-size:12px;font-weight:900;color:#ddd;font-family:"Font Awesome 5 Free";}
	.allMenuWrap .main li a.arrow:after {content:"\f107";}
}


/*family & lang*/
.select_01 {height:24px;margin-left:10px;font-size:0.9rem;background-color:#fff;border:1px solid #ccc;color:#222;}


/*메뉴버튼*/
.mb_menuli {display: none;}
.menuBtn {display:none;position:fixed;z-index:1000;top:15px;right:20px;width:30px;height:22px;cursor:pointer;opacity:0.9;transition:all 0.3s;}
.menuBtn:hover {opacity:1;}
.menuBtn:before,
.menuBtn:after,
.menuBtn span:before,
.menuBtn span:after {content:"";position:absolute;left:0;width:100%;height:2px;background-color:#000;border-radius:2px;transition:all 0.3s;}
.menuBtn:before {top:0;}
.menuBtn:after {bottom:0;}
.menuBtn span:before {top:50%;margin-top:-1px;}
.menuBtn span:after {top:50%;margin-top:-1px;}
.menuBtn.open:before,
.menuBtn.open:after {opacity:0;}
.menuBtn.open span:before {-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.menuBtn.open span:after {-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}

@media screen and (max-width:999px) {
	.pc_logo {left: 0;
    z-index: 1000;
		left: 0;
    top: 0;
    width: 161px;
    cursor: pointer;
    position: fixed;}
	.menuBtn {display:block;}
	.mb_menuli {display: block;}
}

/*------------------------------------------------------
· Main Contents Style
------------------------------------------------------ */

/*메인 비쥬얼 배너*/
.mainVisual {position:relative;width:100%;; /*헤더높이*/}
.mainVisual .visual-img {width:100%;height:100%;}
.vs-img {width:100%;background-size:cover;height:800px;}
.mainVisual .visual-item > img{
		width:100%;
		height:787px;
		-ms-transform: scale(1,1); /* IE 9 */
		-o-transform: scale(1,1); /* IE 9 */
		-moz-transform: scale(1,1); /* IE 9 */
		-webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
		 transform: scale(1,1);
		-webkit-transition:transform 5000ms  ease-in-out ; /* Safari */
		-moz-transition:transform 5000ms ease-in-out ; /* Safari */
		-o-transition:transform 5000ms ease-in-out ; /* Safari */
		-ms-transition:transform 5000ms ease-in-out ; /* Safari */
		transition:transform 5000ms ease-in-out ;
	}
.mainVisual .visual-item{position:relative; width:100%; overflow:hidden;}
.mainVisual .visual-item:focus{outline:none;}
.mainVisual .visual-txt{position:absolute; bottom:20%; left:6%; width:40% }
.mainVisual .visual-inner-txt{border-left:1px solid rgba(255,255,255,0.3); padding-left:22px; color:#fff; }
.mainVisual .visual-inner-txt h2,.mainVisual .visual-inner-txt strong,.mainVisual .visual-inner-txt span,.mainVisual .visual-inner-txt  p{
	display:block;
	opacity:0;filter:Alpha(opacity=0);
	-moz-transform:translateX(10%);
	-ms-transform:translateX(10%);
	transform:translateX(10%);
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	transition:all 0.5s;
}
.mainVisual .visual-inner-txt strong{padding:40px 0 15px; font-size:20px; font-weight:300; transition-delay:0.2s; line-height:25px}
.mainVisual .visual-inner-txt span{font-size:13px; font-weight:300; transition-delay:0.4s}
.mainVisual .visual-inner-txt p{padding-top:15px; line-height:24px;  transition-delay:0.6s}
.mainVisual .visual-txt a{margin-left:23px; color:#fff; padding:0 42px 5px 0; background:url(/images/icon/more_btn_bg.png) no-repeat 0 100%;
	opacity:0;filter:Alpha(opacity=0);
	transition:all 0.5s 0.8s;
}
.mainVisual .visual-txt .btm_img {position:absolute;left:86%}

/* active */
.mainVisual .visual-item.active > img{
		-ms-transform: scale(1.1,1.1); /* IE 9 */
		-o-transform: scale(1.1,1.1); /* IE 9 */
		-moz-transform: scale(1.1,1.1); /* IE 9 */
		-webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
		transform: scale(1.1,1.1);
	}
.mainVisual .active .visual-inner-txt h2,
.mainVisual .active .visual-inner-txt strong,
.mainVisual .active .visual-inner-txt span,
.mainVisual .active .visual-inner-txt  p{
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0);
}
.mainVisual .active .visual-inner-txt h2,
.mainVisual .active .visual-inner-txt strong,
.mainVisual .active .visual-txt a{
	opacity:1.0;filter:Alpha(opacity=100);
}
.mainVisual .active .visual-inner-txt span{
	opacity:0.73;filter:Alpha(opacity=73);
}
.mainVisual .active .visual-inner-txt  p{
	opacity:0.54;filter:Alpha(opacity=54);
}

.mainVisual .slick-arrow{
	position:absolute; bottom:10%; margin-bottom:270px;width:63px; height:59px; left:6%; background:none; border:0; cursor:pointer; z-index:99; font-size:0;
	-webkit-transition:all 300ms;-moz-transition:all 300ms;-o-transition:all 300ms;-ms-transition:all 300ms;transition:all 300ms
}
.mainVisual .slick-arrow.slick-prev{background:url(img/slick/main_visual_prev_btn.png) no-repeat}
.mainVisual .slick-arrow.slick-next{margin-left:70px; background:url(img/slick/main_visual_next_btn.png) no-repeat}
.mainVisual .scroll-icon{position:absolute; bottom:32px; left:50%; width:72px; margin-left:-36px; text-align:center;}
.mainVisual .scroll-icon span{display:block; color:#fff; font-weight:300; font-size:10px; opacity:0.75;filter:Alpha(opacity=75); margin-bottom:15px;}
.mainVisual .slick-prev:before,
.mainVisual .slick-next:before { opacity:0; }

@media screen and (max-width:1200px) {
	.mainVisual {position:relative;width:100%;margin-top:-86px;overflow:hidden; /*헤더높이*/}
	.wrapper{max-width: none;}
}

@keyframes arrowBlink {
	0% {opacity:0.9;}
	100% {opacity:0.1;}
}
.scrollArrow {display:inline-block;position:absolute;z-index:10;left:50%;bottom:20px;width:30px;height:30px;transform:translate(-50%,0) rotate(-135deg);}
.scrollArrow span {display:block;width:100%;text-align:center;}
.scrollArrow span:before {content:"";display:inline-block;position:absolute;width:100%;height:100%;border-left:1px solid rgba(255,255,255,0.9);border-top:1px solid rgba(255,255,255,0.9);opacity:0.1;animation:arrowBlink 0.8s linear infinite;}
.scrollArrow .arr1:before {animation-delay:0.4s;left:0;top:0;}
.scrollArrow .arr2:before {animation-delay:0.2s;left:20%;top:20%;}
.scrollArrow .arr3:before {animation-delay:0.0s;left:40%;top:40%;}

/*------------------------------------------------------
· Introduce Style
------------------------------------------------------ */
/* .firstbg {background-image:url('/images/index/main_backimg01.png');background-size:cover;background-position: bottom;;background-repeat:no-repeat;} */
.secondbg {background-image: url('/images/index/main_backimg02-sample.png');background-repeat: no-repeat;background-size: cover;background-position: center;}
.thirdbg {background-image: url('/images/index/main_backimg03-sample.png');background-repeat: no-repeat;background-size: cover;background-position: center;}
.forthbg {background-image: url('/images/index/main_backimg04-sample.png');background-repeat: no-repeat;background-size: cover;background-position: center;}

.introWrap {display:flex;justify-content:space-between;flex-wrap:wrap;width:100%;margin:auto;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;position: relative;}
.introWrap .left {width:33%;margin-top:60px;padding-left:35px;margin-left:60px}
.introWrap .left h2 {font-weight:normal;font-size:1.5rem;color:#017eff;}
.introWrap .left h2 b {margin-left:10px;font-weight:700;font-size:2rem;color:#111;}
.introWrap .left .text1 {margin-top:30px;font-size:28px;font-weight:bold;color:#111;}
.introWrap .left .text2 {margin-top:30px;margin-bottom:30px;font-size:17px;color:#666;}
.introWrap .right {position:relative;;}
.introWrap .right img {width:100%;}
.introWrap .right .box {position:absolute;left:-10%;bottom:0;width:250px;padding:50px 30px;background-color:#000;animation-delay:0.5s;}
.introWrap .right .box .title {font-size:18px;font-weight:bold;color:#017eff;}
.introWrap .right .box .text {margin-top:15px;font-size:18px;color:#fff;}
.sencdintro {margin:60px auto;width: 1200px;}
.thirdintro {margin:0 auto;width: 1200px;}
.forthintro {margin:70px auto;width: 1200px;}

.pc999 {display: block;}
.mb754 {display: none;}
.m_movbiDv > div > a > img {height:164px}
.m_secFc > iframe  {height:440px;border:1px solid #DDD;}


@media screen and (max-width:1200px) {
	.introWrap, .sencdintro, .thirdintro, .forthintro {width: 100%;height: auto;}
	.m_wd100 {width:100% !important;}
	.m_secFc {display: none;}
	.m_secFc > div:nth-child(2) {height: 335px !important;}
}
@media screen and (max-width:999px) {
	.secondbg {background-image: url('/images/index/main_backimg02.png');background-size: auto;background-position: top;}
	.thirdbg {background-image: url('/images/index/main_backimg03.png');}
	.forthbg {background-image: url('/images/index/main_backimg04.png');}
	.sencdintro {margin:60px auto;}
	.thirdintro {margin:60px auto;}
	.forthintro {margin:70px auto;}
	.visual-icon-Menu {display:none;}
}
@media screen and (max-width:828px) {
	.m_movbiDv > div:nth-child(4) {display: none;}
	.m_movbiDv > div {width: 31% !important;}
}
@media screen and (max-width:754px) {
	.pc999 {display: none;}
	.mb754 {display: block;}
	.nav-menu-open{display: none;}
	.sencdintro, .thirdintro, .forthintro {padding-top:60px;padding-bottom:50px;}
	.sencdintro {margin:0 auto;}
	.forthintro {margin:0 auto;}
	.thirdintro {margin:0 auto;}
	.m_movbiDv > div {margin:10px 0 !important;width: 100% !important;}
}

.introWrap .left-img {width:33%;margin-top:30px;padding-left:35px;margin-left:60px}
.sty_conts {position: absolute !important;bottom: 0;left: 0;background: rgba(0,0,0,0.7);padding: 5px 10px;color: #fff;}
.thridConts {display: inline-block;text-align: center;vertical-align: middle;position: relative;}
.thridConts {margin-top:0;transition: 0.6s;}
.thridConts:hover {margin-top:-2.5%;margin-bottom: 2.5%;}
.thirdConts_txt {position: absolute;bottom: 50px;left: 0;right:0;color: #fff;width:100%;margin: 0 auto;font-size: 14px;}

@media screen and (max-width:1200px) {
	.thridConts {width:20% !important;}
	.thirdConts_txt {bottom:15%;}
	.thirdConts_txt > span{display: none;}
}
@media screen and (max-width:999px) {
	.thridConts {font-size: 1.5em;}
}
@media screen and (max-width:754px) {
	.thridConts {width: 36% !important;}
	.thirdConts_txt > h3 {font-size: 17px;}
}

.container {position: relative;}
.secondMain_title {margin: 0 auto;top: 55px;right: 0;left: 0;}

.tabs {width: 22%;}
.tabs:nth-child(5) {width: 12%;}
.tabs > a{background: none;border: none !important;cursor: pointer !important;}
.tabCk {background-color: #1b87db;color:#fff !important;}
.tabContents_ul > li:first-child{list-style: initial;}
.tabContents_ul > li > p {opacity: .5;}
.tabContents_sty {padding-left:30px !important;padding-right:20px !important;margin-bottom: 15px;font-size: 14px;text-align: left;}
.tabContents_sty:hover {background-color: #eee;}
.facbokTitle {background: #1b87db;color: #fff;text-align: center;padding: 15px;font-size: 1.5em;}
.inactive {opacity: 1 !important;}

.nav > li > a {padding: 20px 15px;font-size: 25px;}
.nav-tabs > li > .active {background: #1b87db !important;}
.nav-tabs > li > .active {color:#fff !important;border-radius: initial;margin: 0;}

.spsvwkWrap {display:flex;justify-content:space-between;flex-wrap:wrap;width:100%;height:720px;margin:auto;}

@media screen and (max-width:999px) {
	.tabContents_sty {width:100%;border-right:none;border-bottom:1px solid #eee;}
	.spsvwkWrap {height:auto;}
}
@media screen and (max-width:754px) {
	.nav > li > a {padding: 10px !important;font-size: 13px;}
}

/*------------------------------------------------------
· History Style
------------------------------------------------------ */
/* .introWrap {display:flex;justify-content:space-between;flex-wrap:wrap;width:100%;max-width:1920px;margin:auto;padding: 5em 0;position: relative;} */
.historyContainer {width: 100%;height: 780px;margin:0 auto;background-color: #fff;display: flex;}
.historyWrap {width: 1200px; text-align:center;margin: 0 auto;}
.historyWrap img {width:100%;}


.forthConts_tp {display: inline-block;text-align: center;vertical-align: top;position: relative;}
.forthConts_tp > a > img {border-radius: 55px;box-shadow: none;transition: 0.6s;}
.forthConts_tp:first-child > img {border-radius:0;box-shadow: none;}
.forthConts_tp > a > img:hover {box-shadow: 0 0 25px 0;}
.forthConts_btm {display: inline-block;text-align: center;vertical-align: bottom;position: relative;}

.forthConts_btm > a > img {border-radius: 50%;box-shadow: none;transition: 0.6s;}
.forthConts_btm > a > img:hover {box-shadow: 0 0 25px 0;}


.frcn_start {position:absolute;top:30px;left:30px;}
.frcn_start > h4:first-child {font-size:2em;margin-bottom:0;}
.frcn_start > h4:nth-child(2) {font-size:1.7em;margin:0;}
.frcn_end {position:absolute;bottom:75px;right:0;}
.frcn_end > h4:first-child {font-size:2em;margin-bottom:0;}
.frcn_end > h4:nth-child(2) {font-size:1.7em;margin:0;}
.mb_frthcont {display: none;}

@media screen and (max-width:1200px) {
	.frcn_start > h4:first-child {font-size:1.7em;}
	.frcn_start > h4:nth-child(2) {font-size:1.4em;}
	.frcn_end > h4:first-child {font-size:1.7em;}
	.frcn_end > h4:nth-child(2) {font-size:1.4em;}
}
@media screen and (max-width:999px) {
	.historyContainer {height:auto;}
	.pc_frthcont {display: none;}
	.mb_frthcont {display: block;}
	/* .forthConts_tp:first-child > img {border-radius: 40px;box-shadow: 0px 10px 10px;} */

	/* .forthConts_tp > img {border-radius: 40px;} */
}
@media screen and (max-width:754px) {
	.forthConts_tp {width:40%;padding:10px;}
	.forthConts_tp:first-child > img, .forthConts_tp > img {border-radius: 40px;box-shadow: none;}
	.forthConts_tp:first-child:hover > img, .forthConts_tp > img:hover {box-shadow: 0px 10px 10px;}
}


/*위치*/
.mapWrap {width:100%;max-width:1200px;margin:0 auto;}
.locaDetail {position:relative;margin:auto;}
.locaDetail .left {position:absolute;left:0;top:0;}
.locaDetail .right {display:flex;flex-wrap:wrap;align-content:space-around;height:214px;padding:20px;border-top:3px solid #017eff;border-bottom:1px solid #ddd;}
.locaDetail .right .row {width:100%;}
.locaDetail .right .row span {display:inline-block;width:100px;font-size:16px;font-weight:bold;}
.locaDetail .right .row p {display:inline-block;font-size:16px;}

@media screen and (max-width:900px) {
	#mapCanvas {height:400px !important;}
	.locaDetail {padding-left:0;}
	.locaDetail .left {display:none;}
	.locaDetail .right .row {display:table;}
	.locaDetail .right .row span,
	.locaDetail .right .row p {display:table-cell;}
}
@media screen and (max-width:600px) {
	#mapCanvas {height:300px !important;}
}
/*------------------------------------------------------
· footer Style
------------------------------------------------------ */
.footerContainer {width: 100%;height: 150px !important;display: flex;flex-direction: column;justify-content: flex-end;}
.footerContainer > .fp-tableCell {height: 150px !important;}
.footerWrap {width:100%;}
.footerRow {width:100%;padding:10px;background-color: #495563;}

.sitemap {display:flex;justify-content:space-between;flex-wrap:wrap;}
.sitemap li {width:13%;font-size:14px;font-weight:normal;}
.sitemap li a:first-child {display:block;width:100%;height:34px;line-height:30px;text-align:center;color:#eee;border:1px solid #3d3d3d;}
.sitemap li.hasSub a:nth-child(n+2) {display:block;width:100%;margin-top:10px;text-align:center;color:#aaa;}

.bottomWrap {display:flex;justify-content:space-between;align-items:flex-start;flex-wrap:wrap;background-color: #5c6875;}
.bottomWrap address {font-style:normal;font-size:14px;color:#888;}
.bottomWrap .loginBtn {padding:5px 10px;color:#ddd;background-color:#000;border:1px solid #FFF}

.btmDv {width: 900px;text-align: center;margin: 0 auto;}

.BizemaileCover {display:flex;justify-content:space-between;flex-wrap:wrap;width:100%;margin:20px 0;align-items: center;}
.Bizemail {width:300px;}
.Bizemail ul li {float:right;padding-right:1rem;}
.Bizemail ul li a {color:#ccc;}

@media (max-width:1279px) {
	.allMenuWrap {width:100%;}
	.subMenuWrap {width:100%;}
	.sitemap {display:none;}
	.bottomWrap {margin-top:0;padding-top:0;border:none;}
}
@media (max-width:800px) {
	.footerContainer {height: auto !important;}
	.footerRow > div {font-size:13px;}
	.BizemaileCover {margin: 15px 0;padding:0 15px;}
	.bottomWrap address,
	.footerWrap p {font-size:0.8rem;}
	.bottomWrap address {order:1;}
	.BizemaileCover {order:2;justify-content:flex-start;}
	.BizemaileCover p {margin-top:15px;width:100%;}
	.Bizemail {margin-top:10px;}
	.Bizemail ul li {float:left;}
	.bottomWrap .loginBtn {order:3;margin-top:15px;}
}


/*------------------------------------------------------
· sub Contents Style
------------------------------------------------------ */

/*메인 비쥬얼 배너*/
.subVisual {position:relative;width:100%;padding: 90px 0 0 0; /*헤더높이*/}
.subVisual .visual-img {width:100%;height:100%;}
.vs-img {width:100%;background-size:cover;height:425px;}
.subVisual .visual-item{position:relative; width:100%; overflow:hidden;}
.subVisual .visual-item:focus{outline:none;}
.subVisual .visual-txt{position:absolute; top:48%; left:5.5%; width:40% }
.subVisual .visual-inner-txt{border-left:1px solid rgba(255,255,255,0.3); padding-left:130px; color:#fff; }
.subVisual .visual-inner-txt h2,.subVisual .visual-inner-txt strong,.subVisual .visual-inner-txt span,.subVisual .visual-inner-txt  p{
	display:block;
	opacity:0;filter:Alpha(opacity=0);
	-moz-transform:translateX(10%);
	-ms-transform:translateX(10%);
	transform:translateX(10%);
	-moz-transition:all 1.5s;
	-ms-transition:all 1.5s;
	transition:all 1.5s;
}
.subVisual .visual-inner-txt .strong{padding:40px 0 15px; font-size:1em; font-weight:500; transition-delay:0.2s; line-height:25px}
.subVisual .visual-inner-txt span{font-size:2em; font-weight:300; transition-delay:0.4s}
.subVisual .visual-inner-txt p{padding-top:15px; line-height:24px;  transition-delay:0.6s ; letter-spacing:0.45em;font-weight:100;font-size:0.7em;}
.subVisual .visual-txt a{margin-left:23px; color:#fff; padding:0 42px 5px 0; background:url(/images/icon/more_btn_bg.png) no-repeat 0 100%;
	opacity:0;filter:Alpha(opacity=0);
	transition:all 0.5s 0.8s;
}
.subVisual .visual-txt .btm_img {position:absolute;left:86%}

/* active */
.subVisual .active .visual-inner-txt h2,
.subVisual .active .visual-inner-txt strong,
.subVisual .active .visual-inner-txt span,
.subVisual .active .visual-inner-txt  p{
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0);
}
.subVisual .active .visual-inner-txt h2,
.subVisual .active .visual-inner-txt strong,
.subVisual .active .visual-txt a{
	opacity:1.0;filter:Alpha(opacity=100);
}
.subVisual .active .visual-inner-txt span{
	opacity:1;filter:Alpha(opacity=100);
}
.subVisual .active .visual-inner-txt  p{
	opacity:1;filter:Alpha(opacity=100);
}

.visual-main-title {padding: 3%;width: 100%;line-height: 25px;text-align: center;}
.visual-main-title > span {padding:5px 0;border-bottom: 5px solid #000;font-size: 35px;font-weight: 500;color: #000;}
.visual-main-tab {margin: 0 auto;width: 1280px;}
.visual-main-tab > ul > li {width: 11%;float: left;text-align: center;border: 1px solid #ddd;background: #fff;}
.visual-main-tab > ul > li:hover {background: #3f3f3f;color: #fff;}
.visual-main-tab > ul > li:active {background: #3f3f3f;color: #fff;}
.visual-active {background: #3f3f3f !important;color: #fff;}
.visual-item {background: #39a953;}
@media screen and (max-width:1200px) {
	.subVisual {overflow:hidden; /*헤더높이*/}
	.vs-img {width:100%;background-size:cover;height:354px;}
}
@media screen and (max-width:990px) {
	.subVisual .visual-item {margin: 0 auto;padding: 2% 0;text-align: center;color: #fff;}
	.vs-img {height: 200px;}
}
@media screen and (max-width:700px) {
	.subVisual {padding: 50px 0 0;}
	.vs-img {height: 120px;}
}



/*------------------------------------------------------
· Common Style
------------------------------------------------------ */
.bizShadow {
  box-shadow: 1px 1px 20px #dfdfdf;
  margin: 0 auto;
}

/*------------------------------------------------------
· Common Text Style
------------------------------------------------------ */
.BtxtTitle {
  color: #041525;
  font-size: 2.2rem;
  font-weight: bold;
}
@media (max-width:540px) {
	.BtxtTitle {font-size:1.6rem;}
}

.B_family { font-family:"Noto Serif KR"; }


.BtxtTitle_02 {
  color: #027fff;
  font-size: 1rem;
  font-weight: bold;
}

.BtxtTitle_04 {
  color: #6886a4;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.BtxtTitle_05 {
  color: #027fff;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
	.introWrap .BtxtTitle_03 {font-size:1.1rem;padding-bottom:1rem;}
	.introWrap .BtxtTitle_04 {font-size:1rem;padding-bottom:1.5rem;}
	.introWrap .BtxtTitle_03 br,
	.introWrap .BtxtTitle_04 br {display:none;}
}

.BtxtWhite_01 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}

.BtxtWhite_02 {
  color: #ffffff;
  font-size: 1.4rem;
}

.BtxtWhite_03 {
  color: #ffffff;
  text-align:center;
  font-size: 1rem;
}

.BtxtWhite_04 {
  color: #ffffff;
}

.BtxtWhite_05 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}

.BtxtWhite_06 {
  color: #ffffff;
  font-size: 2rem;
}

.BtxtWhite_07 {
  color: #ffffff;
  font-size: 2.3rem;
  font-weight: bold;
}

.BtxtGray_01 {
  font-size: 1rem;
  color: #8d8d8d;
}
.BtxtGray_02 {
  font-size: 2rem;
  color: #8d8d8d;
}

.BtxtBlue_01 {
  font-size: 1rem;
  color: #2195c8;
}

.BtxtBlue_02 {position:absolute;left:0;bottom:0;right:0;padding:10px 0;text-align:center;color:#027fff;font-size:0.9rem;border-top:1px solid #ddd;}

.BtxtBlue_03 {
  font-size: 2rem;
  color: #2195c8;
}


.BtxtRed_01 {
  font-size: 1rem;
  color: #c4161c;
}
.BtxtRed_02 {
  font-size: 0.9rem;
  color: #c4161c;
}
.BtxtRed_03 {
  font-size: 2rem;
  color: #c4161c;
}


.BtxtBlack_01 {
	padding:15px 25px 10px;
  font-size: 1rem;
  line-height:130%;
  color: #000000;
  font-weight: 500;
}


.txtCenter {
  text-align: center;
}

.txtLeft {
  text-align: left;
}

.txtRight {
  text-align: right;
}

@media (max-width:1023px) {
	.brText br {display:none;}
}

/*------------------------------------------------------
· Common Button Style
------------------------------------------------------ */
.buttonView {
  width: 190px;
  height: 36px;
  color: white;
  background-color: #017eff;
  border-radius: 25px;
  text-align: center;
  margin: 0.1em;
  border: 1px solid #017eff;
  font-size: 1rem;
}

.buttonView:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.buttonView a {
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
}

.buttonView a:hover {
  color: #4366e7;
}






/*---------------------------------------------------------------------------------------------------------------------- */
/*------------------------------------------------------
· subTop Contents Style
------------------------------------------------------ */
.company{
  width: 100%;
  height: 325px;
  background-image: url("../img/com_bg01.png");
  background-color: #000000;
  border-bottom: 1px solid #f3f3f3;
}

/*------------------------------------------------------
· subTop Contents Style
------------------------------------------------------ */
.manuBar{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e0e0e0;
}
.manuBar .wrap li{
  padding: 12px 25px;
  float: left;
  height: 50px;
  border-right: 1px solid #e0e0e0;
}
.manuBar .wrap li:first-child {
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  font-size: 21px;
}
/*------------------------------------------------------
· subContents Style
------------------------------------------------------ */
.vision {
  width: 100%;
  margin-top: 7rem;
}

.cont {
  display: block;
    position: relative;
    margin: 0 auto;
}
.mb_80 {
    margin-bottom: 80px;
}
.wrap {
    display: block;
    position: relative;
    margin: 0 auto;
	 padding:0 20px;
    width:100%;max-width: 1200px;
    height: 100%;
}
.cont .tit_h3 {
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.cont .tit_h3:after {
    display: block;
    content: '';
    margin: 0 auto;
    margin-top: 25px;
    width: 40px;
    height: 1px;
    background: #000;
}
.mb_60 {
    margin-bottom: 60px;
}
.cont .tit_h4 {
    font-size: 32px;
    line-height: 45px;
    color: #2e92e7;

}
.mb_30 {
    margin-bottom: 30px;
}
.cont p {
    font-size: 18px;
    line-height: 1.5em;
    color: #333;
}
.mb_40 {
    margin-bottom: 40px;
}

@media (max-width:540px) {
	.cont .tit_h3 {font-size:30px;}
	.cont .tit_h4 {font-size:24px;}
}

/*project 섹션*/
section#project {padding:100px 0 150px;background-color:#f4f5f9;transition:all 0.3s;}
section#project .innerWrap {width:100%;max-width:1200px;margin:0 auto;overflow:hidden;}
section#project .innerWrap h2 {text-align:center;font-size:30px;}
.projectList {position:relative;padding-top:50px;}
.projectList li {margin-top:100px;}
.projectList li:first-child {margin-top:0;}
.projectList li h3 {width:100%;height:50px;margin:0 auto;line-height:50px;text-align:left;font-size:30px;font-weight:normal;}
.projectList li h3:after {content:"";position:static;display:block;width:100%;height:2px;background-image:linear-gradient(to left, rgba(253,209,107,1) 0%,rgba(234,27,67,1) 100%);opacity:1;}
.projectList li h3 a {color:#444;cursor:default;}
.projectList li h3 a:before {content:"";display:inline-block;width:26px;height:26px;margin-right:10px;background:url("../img/kaiser.png") no-repeat;background-size:contain;}
.projectList li .innerBox {margin-top:50px;overflow:hidden;text-align:center;transition:opacity 0.5s;}
.projectList li .innerBox img {width:100%;}

@media screen and (max-width:1200px) {
	section#project .innerWrap {padding:0 20px;}
}
@media screen and (max-width:800px) {
	section#project {padding:80px 0;}
	.projectList {padding:0;}
	.projectList li h3 {font-size:18px;}
	.projectList li h3 a:before {width:16px;height:16px;}
}
@media screen and (max-width:540px) {
	section#project .innerWrap h2 {letter-spacing:-1px;}
	.projectList li {margin-top:40px;}
	.projectList li .innerBox {margin-top:30px;}
}

/*coin*/
.coinWrap {width:100%;max-width:1200px;margin:120px auto 0;}
.coinWrap h2 {font-weight:bold;}
.coinWrap .text {margin-top:20px;font-size:24px;color:#e65147;text-align:center;}
.coinWrap .coinList {display:flex;align-items:stretch;margin-top:50px;}
.coinWrap .coinList .left {width:320px;text-align:center;background-color:#e2e3e6;}
.coinWrap .coinList .left .title {width:100%;margin-bottom:20px;padding:20px 30px;color:#fff;font-size:20px;text-align:left;font-weight:bold;line-height:130%;background-color:#000;}
.coinWrap .coinList .right {width:calc(100% - 320px);padding-left:30px;overflow:hidden;}
.coinWrap .coinList .right .coin {float:left;}
.coinWrap .coin {display:inline-block;width:150px;margin-bottom:20px;text-align:center;}
.coinWrap .coin img {width:100%;max-width:135px;}
.coinWrap .coin p {line-height:120%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
@media screen and (max-width:1040px) {
	.coinWrap .coinList .left {width:220px;}
	.coinWrap .coinList .right {width:calc(100% - 200px);}
	.coinWrap .coin {width:90px;}
	.coinWrap .coin p {font-size:13px;}
}
@media screen and (max-width:800px) {
	.coinWrap {width:100%;}
	.coinWrap .coinList .left {width:150px;}
	.coinWrap .coinList .left .title {padding:15px;font-size:15px;}
	.coinWrap .coinList .right {width:calc(100% - 150px);}
	.coinWrap .coin {width:60px;}
}
@media screen and (max-width:580px) {
	.coinWrap .coinList {display:block;}
	.coinWrap .coinList .left {position:relative;width:100%;text-align:center;}
	.coinWrap .coinList .left .title br {display:none;}
	.coinWrap .coinList .right {width:100%;padding:20px 0 0;text-align:center;}
	.coinWrap .coinList .right .coin {float:none;width:70px;margin:0 5px 15px;}
}





/*로그인 팝업*/
.loginPop {display:none;position:fixed;z-index:30000;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0.8);overflow:auto;}
.loginPop .innerBox {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:300px;height:200px;padding:50px;background-color:#fff;}
.loginPop .closeBtn {position:absolute;right:10px;top:10px;width:30px;height:30px;opacity:0.8;border:none;background-color:transparent;outline:none;}
.loginPop .closeBtn span:before,
.loginPop .closeBtn span:after {content:"";position:absolute;left:0;top:50%;width:100%;height:2px;margin-top:-1px;background-color:#333;border-radius:2px;transition:all 0.4s;transform-origin:50% 50%;}
.loginPop .closeBtn span:before {transform:rotate(-45deg);}
.loginPop .closeBtn span:after {transform:rotate(45deg);}
.loginPop .closeBtn:hover {opacity:1;}
.loginPop .closeBtn:hover span:before {transform:rotate(45deg);}
.loginPop .closeBtn:hover span:after {transform:rotate(-45deg);}
.loginPop input {width:100%;height:30px;margin-bottom:5px;padding:0 5px;border:1px solid #ccc;}
.loginPop .loginBtn {width:100%;height:30px;color:#fff;background-color:#1f1f1f;}
