.visual-item {background: #80BEDD;}
.section1 {width:100%;float:left;}
.innerWrap {width: 1200px;margin: 0 auto;position: relative;}

.section1 {width:100%;float:left;}
.section1-title {margin-top: 60px;width: 100%;}
.section1-title > h1 {color: #000;}
.section1-title > h2 {color: #000;}
.section1-stitle {margin:20px auto 30px auto;position: relative;}
.section1-stitle > h3 {color: #000;}
.section1-cont1 {width: 50%;position: absolute;z-index: 1;color: #fff;}
.section1-cont1 > p {padding: 52px 45px;font-size: 16px;line-height: 1.7;position: absolute;top:25px;background: linear-gradient(150deg, #80aa1f, #39a953);white-space: pre-line;}
.section1-cont1 > p > span {font-size:1.2em;font-weight:bold;}
.section1-cont2 {width: 100%;z-index: 0;}
.section1 .sub02 {width:100%;}

.sub02  {width:1200px;margin:0 auto;}
.sub02 .flex > div { width: 22%; margin: 1.5%; }
.sub02 .flex-center {justify-content: center;}
.sub02  .flex-left {justify-content: left;}
.sub02  .flex-mg	 { margin: 0 2.5px 5px;}
.sub02  .flex-middle {align-items: center;}
.sub02  .margin-center {margin:0 auto;}
.sub02  .webbook_thumb {width:100%}



@media screen and (max-width:1200px) {
  .sub02  {width:100%;margin:0 auto;}
  .vs-img {width: 100%;background-size: cover;height: 354px;}  
  .innerWrap {width:100%;padding:0 15px;}
}
@media screen and (max-width:999px) {
  .subVisual {padding: 50px 0 0 0;}
	.vs-img {height: 200px;}  
  	.sub02 .flex > div { width: 30%; margin: 1.5%; }
}
@media screen and (max-width:700px) {
	.subVisual {padding: 50px 0 0;}
	.vs-img {height: 120px;}
	.sub02 .flex > div { width: 30%; margin: 1.5%; }
}

@media screen and (max-width:500px) {
	.sub02 .flex > div { width: 47%; margin: 1.5%; }
}