::marker {
    color: rgba(0,0,0,.5);
}
.visual-item {background: #39a953;}
.table > thead > tr > th,
.table > tbody > tr > th {height: 60px;}
.sub01-title {margin: 0 auto;}
.sub01-title > h3 {font-size: 22px;}
.sub01-02-table {margin-bottom: 30px;}
.sub01-02-table > tbody > tr > th {width:15%;}
.sub01-02-th:first-child {width: 8%;}
.sub01-02-th {width: 14%;}

/* section0 */
.section0 {width: 100%;min-width:1200px;float: left;}
.section0-title {
  padding-top: 10px;
  background: url('/images/maintitle-txt.png') no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 20px;
}
.section0-stitle > h3 {color: #000;}
.section0-cont1 {width: 100%;}
.section0-cont1 > span {color:green;}
.section0-cont2 {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(1, 300px);
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
  -ms-grid-row: 1;
}
.section0-cont2 > img {margin: 10px 0 0;width: 300px;}
.section0-cont2-txt1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 140px 70px 90px;
  -ms-grid-columns: 1fr;
  grid-template-rows: 140px 70px 90px;
  text-align: center;
  border-right: 3px dotted rgba(99,138,85,.5);
}
.section0-cont2-txt1:first-child{
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.section0-cont2-txt1:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.section0-cont2-txt1:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.section0-cont2-txt1:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  border:none;
}
.section0-cont2-txt1 > img {
  margin: 0 auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row-align: end;
  align-self: end;
}
.section0-cont2-txt1 > h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-row-align: normal;
  align-self: normal;
  color: #000;
}
.section0-cont2-txt1 > p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  white-space: pre-line;
  color: #414042;
}
/* section1 */
.section1 {width:100%;min-width:1200px;float: left;}
.section1-cont {width: 100%;}
.section1-title {
  margin-top: 60px;
  width: 100%;
}
/* section2 */
.section2 {width:100%;min-width:1200px;float: left;}
.section2-cont {width: 100%;}

/* 기업개요 */
.innerTop{
  width:100%;
  height:810px;
  background: url('/images/sub01/sub01-fty-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.innerTop {
  width: 100%;
  padding: 55px 80px 0;
}
.innerTop > .flex {
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
}
.innerTop-ul {
  font-size: 25px;
  line-height: 45px;
}
.innerTop-ul li {
  list-style: inside;
}
.innerTop-ul li::marker{
  color: #000;
  font-size: 20px
}
.innerTop-ul > ul > li > span {
  margin-right: 10px;
}
.innerTop-ul > ul > li:nth-child(2) > span,
.innerTop-ul > ul > li:nth-child(3) > span {
  margin-right: 19px;
}
.innerTop-logo {
  margin-top: 20px;
}
.outerBottom {
  width: 100%;
  background: #2f631c;
  color: #fff;
}
.outerBottom-cont {
  margin: 0 auto;
  padding: 30px 0;
  width: 1200px;
}
.outerBottom-cont-txt{
  margin: 20px 0;
  padding: 0 0 0 10px;
  font-size: 20px;
  font-weight: 300;
  background: url('/images/sub01/sub01-txt-bg2.png');
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: 4px;
}
.outerBottom-cont-txt > span {
  margin-right: 20px;
  font-weight: 500;
}
.ob-point > span {
  padding: 5px 20px;
  width: 156px;
  height: 40px;
  color: #2f631c;
  font-weight: 400;
  text-align: center;
  background: #c8d5bf;
  border-radius: 15px;
}
.outerBottom-line {
  margin: 17px;
  margin-left: 0;
  width: 100px;
  border-top: 1px solid #fff;
}
.ob-point li{
  list-style: initial;
  font-weight: 300;
}
.ob-point li::marker{
  color: #fff;
  font-size: 14px;
}


/* 연혁 */
.section0-loadmap {
  width: 1200px;
  position: relative;
}
.loadmap-line{
  margin: 0 auto;
  width: 5px;
  height: 1000px;
  left: 30%;
  position: absolute;
  background: rgba(255,255,255,.6);
}
.loadmap-timeline {
  -ms-grid-columns: 480px 300px;
  grid-template-columns: 480px 300px;
  position: absolute;
  left: 16.5%;
}
.loadmap-timeline-cont1{
  -ms-grid-row: 1;
  -ms-grid-rows: 100px;
  -ms-grid-columns: 150px 30px 300px;
  grid-template-rows: 100px;
  grid-template-columns: 150px 30px 300px;
}
.loadmap-timeline-cont1 > h1 {
  -ms-grid-column: 1;
  margin: 10px 15px;
  font-size: 45px;
}
.loadmap-timeline-cont1 > img{
  -ms-grid-column: 2;
  width: 29px;
}
.loadmap-timeline-dot {
  -ms-grid-column: 3;
  margin: 0 10px;
  width: 275px;
  border-top: 2px dotted rgba(255,255,255,.4);
}
.loadmap-timeline-cont2{
  margin-top: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows:repeat(2,1fr);
}
.loadmap-timeline-cont2 > p:first-child{
  -ms-grid-row: 1;
}
.loadmap-timeline-cont2 > p:nth-child(2){
  -ms-grid-row: 2;
}
.loadmap-timeline-cont2 > p > span {
  font-size: 20px;
}
.loadmap-timeline-cont2 > p > span > i{
  margin-right: 5px;
}
.loadmap-timeline:nth-child(3){
  margin-top: 16%;
}
.loadmap-timeline:nth-child(4){
  margin-top: 32%;
}
.loadmap-timeline:nth-child(5){
  margin-top: 44%;
}
.loadmap-timeline:nth-child(6){
  margin-top: 56%;
}
.loadmap-timeline:nth-child(7){
  margin-top: 68%;
}


/* 인사말 */
/* 그리드 */
.sub01-grid{
  display: grid;
  display: -ms-grid;
  grid-template-rows: 100px 85px;
  -ms-grid-rows: 100px 85px;
}
.sub01-grid2{
  display: grid;
  display: -ms-grid;
  grid-template-rows: 100px;
  -ms-grid-rows: 100px;
}

.small-line2{
  margin: 0 auto;
  width: 25px;
  height: 2px;
  background: #929293;
  opacity: .7;
}

/* 사업장영역 */
.sub01-06-titleline{
  top: 50%;
  border-top: 1px solid rgba(0,0,0,.5);
  z-index: -1;
}
.sub01-06-gtc48 {
  -ms-grid-columns: 400px 800px;
  grid-template-columns: 400px 800px;
}
.sub01-06-txt {
  -ms-grid-column:1;
  padding: 0 15px;
  background:url('/images/sub01/sub01-txt-bg.png') no-repeat;
  background-position-x:left;
  background-position-y:top;
  background-size: 4px;
}
.sub01-06-txt:nth-child(2) {
  -ms-grid-column:3;
}
.btlist{
  -ms-grid-column:2;
}
.btlist > li{
  list-style: disc;
}


/* 사업장안내 */
.grid-facty-map{
  grid-template-rows: repeat(4,500px);
  grid-template-columns: 500px 700px;
}
.facty-map-cont{
  grid-column: 2;
  text-align: left;
}
.sub01-07-txt{
  -ms-grid-column:1;
  padding: 0 15px;
  background:url('/images/sub01/sub01-txt-bg.png') no-repeat;
  background-position-x:left;
  background-position-y:center;
  background-size: 4px;
}


/* ie start */
.sub01-ieg{
  -ms-grid-columns: 1fr;
  -ms-grid-column: 1;
}
.sub01-ieg2{
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-column: 1;
}
.ie-gtr150 {
  -ms-grid-row: 150px 1fr;
}
.ie-gtr150-2 {
  -ms-grid-row: 150px;
}
.ie-gtc-2g1fr{
  -ms-grid-columns: 1fr 20px 1fr;
}
.sub01-grid > h1 {-ms-grid-row: 1;}
.sub01-grid > h3 {-ms-grid-row: 2;}
.sub01-grid > .small-line2:nth-child(3) {-ms-grid-row: 3;}
/* start(연혁) */
.sub01-grid > p:nth-child(3) {-ms-grid-row: 3;}
/* end */
/* 비전 미션 */
.sub01-grid > img:nth-child(4) {-ms-grid-row: 4;}
/* end */
.sub01-grid > p:nth-child(4) {-ms-grid-row: 4;}
.sub01-grid > .small-line2:nth-child(5) {-ms-grid-row: 5;}
.sub01-grid > p:nth-child(6) {-ms-grid-row: 6;}
.sub01-grid > .small-line2:nth-child(7) {-ms-grid-row: 7;}
.sub01-grid > p:nth-child(8) {-ms-grid-row: 8;}
.sub01-grid > p:nth-child(9) {-ms-grid-row: 9;}

/* 사업영역 */
.ie-gtr150 > h1{-ms-grid-row:1}
.ie-gtr150 > div:nth-child(2){-ms-grid-row:2}
.ie-gtr150 > div:nth-child(3){-ms-grid-row:3}
.ie-gtr150 > div:nth-child(4){-ms-grid-row:4}
.ie-gtr150 > div:nth-child(5){-ms-grid-row:5}
.ie-gtr150 > div:nth-child(6){-ms-grid-row:6}
.ie-gtr150 > div:nth-child(7){-ms-grid-row:7}

.sub01-ieg2 > div:first-child{-ms-grid-row:1;-ms-grid-column:1;}
.sub01-ieg2 > div:nth-child(2){-ms-grid-row:1;-ms-grid-column:2;}
.sub01-ieg2 > div:nth-child(3){-ms-grid-row:2;-ms-grid-column:1;}
.sub01-ieg2 > div:nth-child(4){-ms-grid-row:2;-ms-grid-column:2;}
.sub01-ieg2 > div:nth-child(5){-ms-grid-row:3;-ms-grid-column:1;}
.sub01-ieg2 > div:nth-child(6){-ms-grid-row:3;-ms-grid-column:2;}

/* 사업장안내 */
.grid-facty-map {
  -ms-grid-rows: (500px)[4];
}
.facty-map-cont:nth-child(2) {-ms-grid-row:1 !important;-ms-grid-column:2 !important;}
.facty-map-cont:nth-child(3) {-ms-grid-row:2 !important;-ms-grid-column:2 !important;}
.facty-map-cont:nth-child(4) {-ms-grid-row:3 !important;-ms-grid-column:2 !important;}
.facty-map-cont:nth-child(5) {-ms-grid-row:4 !important;-ms-grid-column:2 !important;}

/* end */
