
th, td {
  padding: 10px;
  color: #000;
  text-align: center;
}
th{font-weight: 500;}
td{font-weight: 400;}

/* section0 */
.section0 {width: 100%;min-width:1200px;float: left;}
.section0-title {
  padding-top: 10px;
  background: url('/images/maintitle-txt.png') no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 20px;
}
.section0-stitle > h3 {color: #000;}
.section0-cont1 {width: 100%;}
.section0-cont1 > span {color:green;}
.section0-cont2 {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(1, 300px);
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
  -ms-grid-row: 1;
}
.section0-cont2 > img {margin: 10px 0 0;width: 300px;}
.section0-cont2-txt1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 140px 70px 90px;
  -ms-grid-columns: 1fr;
  grid-template-rows: 140px 70px 90px;
  text-align: center;
  border-right: 3px dotted rgba(99,138,85,.5);
}
.section0-cont2-txt1:first-child{
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.section0-cont2-txt1:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.section0-cont2-txt1:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.section0-cont2-txt1:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  border:none;
}
.section0-cont2-txt1 > img {
  margin: 0 auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row-align: end;
  align-self: end;
}
.section0-cont2-txt1 > h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-row-align: normal;
  align-self: normal;
  color: #000;
}
.section0-cont2-txt1 > p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  white-space: pre-line;
  color: #414042;
}
/* section1 */
.section1 {width:100%;min-width:1200px;float: left;}
.section1-cont {width: 100%;}
.section1-title {
  margin-top: 60px;
  width: 100%;
}
/* section2 */
.section2 {width:100%;min-width:1200px;float: left;}
.section2-cont {width: 100%;}


/* 코파스볼트 특징 */
.sub03-bolt-title{
  margin: 20px 0 60px;
  line-height: 30px;
}
.sub03bg-txt > h1, .sub03bg-txt > h2{
  -ms-grid-column:1;
  margin: 0;
  padding: 0 15px;
  background:url('/images/sub03/sub03-txt-bg.png') no-repeat;
}
.boltop-grid{
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 30px;
}
.boltop-grid2{
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 200px;
  gap: 30px;
}
.boltop-gd-cont1{
  padding: 60px 30px;
  border-radius: 20px;
  color: #fff;
  background: #8dc63f;
  line-height: 35px;
}
.boltop-gd-cont2{
  padding: 60px 30px;
  border-radius: 20px;
  color: #2f631c;
  line-height: 35px;
  box-shadow: 5px 5px 20px 2px rgba(0,0,0,.5);
}
.boltop-gd-cont1 > .boltop-gd-cont2op2{
  border-top: 3px dotted rgba(255,255,255,.5);
}
.boltop-gd-cont1 > .boltop-gd-cont2op2 > p {
  color: #fff;
}
.boltop-gd-cont2 > img {
  width:500px;
}
.boltop-gd-cont2op2{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 3px dotted rgba(0,0,0,.5);
}
.boltop-gd-cont2op2 > p {
  color: #414042;
  line-height: 25px;
  white-space: pre-line;
}

/* 정밀가공사업부 장비현황 및 목록 */
.sub03-mach {
  width: 100%;
  text-align: center;
  border: 3px solid #fdb813;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.sub03-mach:nth-child(6) {
  border: none;
  text-align: left;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
}
.sub03-mach-img {
  padding: 20px 0;
  height: 255px;
}
.sub03-mach-title {
  padding: 14px 0;
  width: 100%;
  color: #000;
  background: #fdb813;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.sub03-mach-txt {
  padding-left: 30px;
  line-height: 45px;
  background: url('/images/sub03/sub03-list-chk.png');
  background-position-y: center;
  background-repeat: no-repeat;
}
.machs {
  margin: 0 auto;
  padding-top: 60px;
  width: 150px;
}
.sub03-border {
  width: 30px;
  height: 30px;
  right: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 3px solid #fdb813;
  border-right: 3px solid #fdb813;
}
.machs-tb {
  border-bottom: 2px solid #f7941d;
}
.machs-tb th{
  color: #fff;
  background: #f7941d;
}
.machs-tb th:nth-child(1){ width: 70px; }
.machs-tb th:nth-child(2){ width: 400px; }
.machs-tb th:nth-child(3){ width: 175px; }
.machs-tb th:nth-child(4){ width: 100px; }
.machs-tb th:nth-child(5){ width: 150px; }
.machs-tb th:nth-child(6){ width: auto; }
.machs-tb tr:nth-child(2n+1){
  background: #fdead2;
}
.machs-tb tr th,
.machs-tb tr td{
  border-right: 1px solid rgba(0,0,0,.3);
}
.machs-tb tr th:nth-child(6),
.machs-tb tr td:nth-child(6){
  border-right: none;
}


/* 생산규칙 */
.sub03-02-grid{
  grid-template-columns: 1fr 100px 1fr;
}
.sq-grid1{
  margin: 10px;
  padding: 58px 0px;
  width: 218px;
  height: 218px;
  float: left;
  color: #fff;
  background: #2f631c;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
}
.sq-grid2{
  margin: 10px;
  padding: 58px 0px;
  width: 218px;
  height: 218px;
  color: #2f631c;
  text-align: center;
  float: left;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
}
.sq-grid2:nth-child(6){
  padding: 85px 10px;
  box-shadow: none;
}
.sub03-cont2-arrow:first-child{
  margin-top: 50%;
  width: 100%;
  color: #2f631c;
  font-size: 2em;
  align-self: center;
}
.sub03-cont2-arrow:nth-child(2){
  margin-top: 100%;
  width: 100%;
  color: #2f631c;
  font-size: 2em;
  align-self: center;
}
.sub03-ct-list{
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.sub03-ct-list-dv{
  margin-top: 15px;
  color: #000;
  border-bottom: 2px dotted rgba(0,0,0,.5);
}
.sub03-txt-bg > h3{
  padding: 0 15px;
  background:url('/images/sub03/sub03-txt-bg.png') no-repeat;
}
.sub03-txt-bg > h1{
  margin: 0;
}
.sub03-tb tr, .sub03-tb2 tr{
  border-bottom: 1px solid rgba(0,0,0,.5);
}
.sub03-tb tr:nth-child(4), .sub03-tb2 tr:nth-child(4){
  border-bottom: 3px solid #cfe5ae;
}
.sub03-tb2{ font-size: 14px;}
.sub03-tb tr th{
  width: 86px;
}
.sub03-tb tr th:first-child{
  width: 175px;
}
.sub03-tb2 tr th{
  width: 75px;
}
.sub03-tb2 tr td{
  width: 75px;
}
.sub03-tb tr th, .sub03-tb tr td,
.sub03-tb2 tr th, .sub03-tb2 tr td{
  border-right: 1px solid rgba(0,0,0,.5);
}
.sub03-tb tr th:last-child, .sub03-tb tr td:last-child,
.sub03-tb2 tr th:last-child, .sub03-tb2 tr td:last-child{
  border-right: none;
}



/* ie */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .boltop-grid{
    -ms-grid-columns: (1fr)[3];
    -ms-grid-rows: 1fr;
    padding: 0 15px;
  }
  .boltop-grid2{
    -ms-grid-columns: (1fr)[3];
    -ms-grid-rows: 1fr 200px;
    padding: 0 15px;
  }
  .iegc-bp{
    -ms-grid-columns: 650px 1fr;
  }
  .boltop-gd-cont1, .boltop-gd-cont2{
    margin: 15px;
  }
  .sq-grid1{
    border: 1px solid #000;
  }
  .sq-grid2{
    border: 1px solid #000;
  }
  .sub03-03-cont1 > img{
    padding: 0 10px;
  }
}
